@layer components {
  .btn {
    @apply text-black text-sm font-semibold;
    @apply rounded-full px-6 py-2.5;
    @apply bg-slate-100 focus:outline-none;
    @apply transition;
    &-elevated {
      @apply shadow;
      &:hover {
        @apply shadow-lg;
      }
    }
    &-filled {
      @apply bg-primary text-white;
    }
    &-tonal {
      @apply bg-amber-200 text-amber-900 hover:bg-amber-100;
    }
    &-outlined {
      @apply bg-transparent text-primary border border-solid border-black border-opacity-50 hover:bg-transparent;
    }
    &-text {
      @apply bg-transparent text-primary hover:bg-transparent;
    }
  }
  .btn-clr {
    background-image: linear-gradient(20deg, #fe9d01 60%, #ffd38a 83%);
    background-image: linear-gradient(
      to bottom left,
      #734700,
      #ff9c01,
      #ffe1b0
    );
  }
  .btn-grad-orange {
    background-image: linear-gradient(
      to right,
      #fe9d01 0%,
      #ffcc00 51%,
      #fe9d01 100%
    );
    background-size: 200% auto;
    @apply text-white transition-all duration-500;
    &:hover {
      background-position: right center;
    }
  }

  .btn-grad-yellow {
    background-image: linear-gradient(
      to right,
      #fcba12 0%,
      #fde047 51%,
      #fcba12 100%
    );
    transition: 0.5s;
    background-size: 200% auto;
    @apply text-white transition-all duration-500;
    &:hover {
      background-position: right center;
    }
  }
}
