@layer components {
  .btn {
    @apply text-black text-sm font-semibold;
    @apply rounded-full px-6 py-2.5;
    @apply bg-slate-100 focus:outline-none;
    @apply transition;
    &-elevated {
      @apply shadow;
      &:hover {
        @apply shadow-lg;
      }
    }
    &-filled {
      @apply bg-primary text-white;
    }
    &-tonal {
      @apply bg-amber-200 text-amber-900 hover:bg-amber-100;
    }
    &-outlined {
      @apply bg-transparent text-primary border border-solid border-black border-opacity-50 hover:bg-transparent;
    }
    &-text {
      @apply bg-transparent text-primary hover:bg-transparent;
    }
  }
  .btn-clr {
    background-image: linear-gradient(20deg, #fe9d01 60%, #ffd38a 83%);
    background-image: linear-gradient(to bottom left, #734700, #ff9c01, #ffe1b0);
  }
  .btn-group {
    .btn {
      &.btn-default {
        @apply bg-white text-slate-500 border-slate-400 py-2;
      }
      &.btn-active {
        @apply text-white bg-primary border border-solid border-primary py-2;
        &.btn-default {
          @apply bg-white text-slate-500 border-slate-400 py-2;
        }
      }
    }
  }
  .btn-grad-orange {
    /* background: linear-gradient(20deg, #fe9d01 50%, #ffd38a 83%);
    background-size: 130% auto; */
    @apply text-white transition-all duration-500 bg-primary hover:bg-brand-secondary;
    /* &:hover {
      background-position: right center;
    } */
  }
  .btn-grad-yellow {
    background-image: linear-gradient(to right, #fcba12 0%, #fde047 51%, #fcba12 100%);
    transition: 0.5s;
    background-size: 200% auto;
    @apply text-white transition-all duration-500;
    &:hover {
      background-position: right center;
    }
  }
}
