@using App.Web
@*@{
        bool isAdmin = false;
        bool isMaster = false;
        try
        {
            isAdmin = User.IsInRole("Administrator");
            isMaster = User.IsInRole("Master");
        }
        catch { }
    }*@



<ul class="nav">

    @{
        MvcMenuEMCSHelpers obj = new MvcMenuEMCSHelpers();
    }
    @obj.Menu("treeview");

    <li>
        <a data-toggle="collapse" href="#pagesExamples">
            <i class="tim-icons icon-settings-gear-63" style="color: #666d7d;"></i>
            <p style="color: #666d7d;">
                Settings
                <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="pagesExamples">
            <ul class="nav">
                <li>
                    <a href="javascript:void(0);" onclick="return loadingPage('/sign-out')">
                        <i class="tim-icons icon-button-power" style="color: #666d7d;"></i><span style="color: #666d7d;">Sign out</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

</ul>