<div class="box">
    <div class="col-xs-12 table-responsive">
        <table id="tableCargoDocuments1" data-toolbar=".toolbar" class="table table-bordered" data-toggle="table">
            <!--<thead>-->
                @*<th data-field="Id">Id</th>
                <th data-field="Cargoid">CargoId</th>*@
                <!--<th data-formatter="operateFormatter" data-events="operateEvents">Action</th>
                <th data-field="DocumentDate">Date</th>
                <th data-field="DocumentName">Document Name</th>
                <th data-field="Filename" data-formatter="operateAttachment">Attachment</th>
            </thead>-->
        </table>
    </div>
</div>
