<div class="card">
  <div class="table-responsive">
    <input type="hidden" name="idCipl" id="idCipl" value="@Model.Data.Id" />
    <table id="tableCiplHistory" data-toolbar=".toolbar" class="table"></table>
  </div>
</div>

