
<div class="box">
    <div class="col-xs-12 table-responsive">
        <table style="width:100%" border="0" class="table table-striped table-bordered" id="example">
            <thead>
                <tr>
                    <th style="height:40px;vertical-align:middle;text-align:center">Files</th>
                    <th style="height:40px;vertical-align:middle;text-align:center;width:20%">Uploads</th>
                    <th style="height:40px;vertical-align:middle;text-align:center;width:5%;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>BAST Receive Good</strong></td>
                    <td><input type="file" name="document" id="inp-brg" class="file form-control"></td>
                    <td style="text-align: center;"><button class="btn btn-link btn-xs btn-success" id="btn-brg"><i class="tim-icons icon-cloud-download-93"></i></button></td>
                </tr>
                <tr>
                    <td><strong>Surat Permohonan Reimport</strong></td>
                    <td><input type="file" name="document" id="inp-spr" class="file form-control"></td>
                    <td style="text-align: center;"><button class="btn btn-link btn-xs btn-success" id="btn-spr"><i class="tim-icons icon-cloud-download-93"></i></button></td>
                </tr>
                <tr>
                    <td><strong>Surat Ijin Export Sementara</strong></td>
                    <td><input type="file" name="document" id="inp-sies" class="file form-control"></td>
                    <td style="text-align: center;"><button class="btn btn-link btn-xs btn-success" id="btn-sies"><i class="tim-icons icon-cloud-download-93"></i></button></td>
                </tr>
                <tr>
                    <td><strong>Surat Keterangan Fungsi Barang</strong></td>
                    <td><input type="file" name="document" id="inp-skfb" class="file form-control"></td>
                    <td style="text-align: center;"><button class="btn btn-link btn-xs btn-success" id="btn-skfb"><i class="tim-icons icon-cloud-download-93"></i></button></td>
                </tr>
                <tr>
                    <td><strong>Letter of Non Dangerous Goods</strong></td>
                    <td><input type="file" name="document" id="inp-londg" class="file form-control"></td>
                    <td style="text-align: center;"><button class="btn btn-link btn-xs btn-success" id="btn-londg"><i class="tim-icons icon-cloud-download-93"></i></button></td>
                </tr>
                <tr>
                    <td><strong>MSDS</strong></td>
                    <td><input type="file" name="document" id="inp-msds" class="file form-control"></td>
                    <td style="text-align: center;"><button class="btn btn-link btn-xs btn-success" id="btn-msds"><i class="tim-icons icon-cloud-download-93"></i></button></td>
                </tr>
                <tr>
                    <td><strong>Shipment Declaration</strong></td>
                    <td><input type="file" name="document" id="inp-sd" class="file form-control"></td>
                    <td style="text-align: center;"><button class="btn btn-link btn-xs btn-success" id="btn-sd"><i class="tim-icons icon-cloud-download-93"></i></button></td>
                </tr>
                <tr>
                    <td><strong>Others</strong></td>
                    <td><input type="file" name="document" id="inp-others" class="file form-control"></td>
                    <td style="text-align: center;"><button class="btn btn-link btn-xs btn-success" id="btn-others"><i class="tim-icons icon-cloud-download-93"></i></button></td>
                </tr>
                <tr>
                    <td><strong>PEB</strong></td>
                    <td><input type="file" name="document" id="inp-peb" class="file form-control"></td>
                    <td style="text-align: center;"><button class="btn btn-link btn-xs btn-success" id="btn-peb"><i class="tim-icons icon-cloud-download-93"></i></button></td>
                </tr>
                <tr>
                    <td><strong>NPE</strong></td>
                    <td><input type="file" name="document" id="inp-npe" class="file form-control"></td>
                    <td style="text-align: center;"><button class="btn btn-link btn-xs btn-success" id="btn-npe"><i class="tim-icons icon-cloud-download-93"></i></button></td>
                <tr>
                    <td><strong>BL / AWB</strong></td>
                    <td><input type="file" name="document" id="inp-blawb" class="file form-control"></td>
                    <td style="text-align: center;"><button class="btn btn-link btn-xs btn-success" id="btn-blawb"><i class="tim-icons icon-cloud-download-93"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>