@{
    Layout = "~/Views/EMCS/_Layout.cshtml";
    ViewBag.Title = "Commercial Invoice Packing List";
}

@using System.Web.Mvc
@*@Styles.Render("~/Content/EMCS/SweetAlert/sweetalert2.min.css")*@
<style type="text/css">
    .form-horizontal .control-label {
        text-align: left !important;
    }
    .dropdown-menu.dropdown-menu-right {
        left: 0 !important;
    }

    .btn.dropdown-toggle:after, .navbar .navbar-nav > a.btn.dropdown-toggle:after {
        margin-left: 0 !important;
    }
</style>
@{
    if (ViewBag.AllowDelete)
    {
        <input type="hidden" name="AllowDelete" id="AllowDelete" class="form-control" value="True">
    }

    if (ViewBag.AllowUpdate)
    {
        <input type="hidden" name="AllowUpdate" id="AllowUpdate" class="form-control" value="True">
    }
    if (ViewBag.IsImexUser)
    {
        <input type="hidden" name="IsImexUser" id="IsImexUser" class="form-control" value=true>
    }

}

<div class="row">
    <div class="col-md-12">
        <div class="toolbar">
            @{
                if (ViewBag.AllowCreate)
                {
                    <a class="btn btn-warning" href="/EMCS/CiplForm" id="btnCreate">
                        <i class="fa fa-plus"></i> Add New
                    </a>
                }
            }
            <div class="fa-pull-left" id="mySearch" style="padding-right:2px">
                <input name="searchText" class="form-control" type="text" placeholder="Search..." style="height: 32px;">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="tableCipl"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts

{
    <script src="@Url.Content("~/Scripts.app/EMCS/transaction/Cipl.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>


}