<<<<<<< HEAD
﻿<div class="box">
    <div class="col-xs-12 table-responsive">
        @*<table id="tableCiplDocuments" data-toolbar=".toolbar" class="table table-bordered"></table>*@
        <div class="">
            <table id="tableCiplFormDocuments1" data-toolbar=".toolbar" class="table table-bordered"></table>
        </div>
=======
﻿<div class="row">
    <div class="col-xs-12 table-responsive">
        @*<table id="tableCiplDocuments" data-toolbar=".toolbar" class="table table-bordered"></table>*@
        <table id="tableCiplFormDocuments1" data-toolbar=".toolbar" class="table table-bordered"></table>
>>>>>>> 639d8d0 (Intial commit)
    </div>
</div>