<!-- <style>
  .format-pre pre {
    background: #49483e;
    color: #f7f7f7;
    padding: 10px;
    font-size: 14px;
  }
  .email-warning {
    margin-left: 16px;
    margin-top: 4px;
  }
  .input-group-addon {
    width: 50px;
    background: #00c0ef;
    border-color: #00acd6;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0.4285rem 0.4285rem 0px;
  }
  .tabs {
    font-size: 15px;
    padding: 0px;
    list-style: none;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 50px;
    position: relative;
  }
  .tabs a {
    text-decoration: none;
    color: #777;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
  }
  .tabs a.active {
    color: #fff;
  }
  .tabs a i {
    margin-right: 5px;
  }
  .tabs .selector {
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    border-radius: 50px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #05abe0;
    background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: -webkit-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: linear-gradient(20deg, #fe9d01 60%, #ffd38a 83%);
    box-shadow: 4px -4px #a8a8a8;
  }
</style> -->
<div class="!px-8 !pt-8 !pb-2">
  <div class="tab box-warning" role="tabpanel" style="min-height: 555px; box-shadow: none !important; background: none">
    <form id="FormCipl">
      <nav class="tabs tabsNav mb-8 max-w-xs text-base bg-white">
        <div class="selector"></div>
        <a href="#tab-task-cipl" class="tabsNav--item active" aria-controls="home" role="tab" data-toggle="tab"><span
            class="tabsNav--item-label">CIPL</span></a>
        <a href="#tab-documents" class="tabsNav--item" aria-controls="home" role="tab" data-toggle="tab"><span
            class="tabsNav--item-label">Documents</span></a>
        <a id="tab-problem-cipl" class="hide" href="#tab-task-problem-cipl" aria-controls="ph" role="tab"
          data-toggle="tab">Problem History</a>
      </nav>
      <!-- Tab panes -->
      <div class="tab-content tabs-custom">
        <div role="tabpanel" class="tab-pane active" id="tab-task-cipl">
          <div class="card mb-8">
            <div class="p-0">
              <div class="flex gap-x-10 p-6">
                <div class="w-1/2">
                  <div class="row">
                    <div class="form-group hide">
                      <label class="control-label col-lg-4 col-xs-4">ID</label>
                      <div class="col-lg-8 col-xs-8">
                        <input type="text" class="form-control requestChange" id="idCipl" name="idCipl"
                          placeholder="ID CIPL" />
                      </div>
                    </div>
                    <div class="form-group hide">
                      <label class="control-label col-lg-4 col-xs-4">Status</label>
                      <div class="col-lg-8 col-xs-8">
                        <input type="text" class="form-control requestChange" id="statusCipl" name="statusCipl"
                          placeholder="ID CIPL" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-xs-4">CIPL No</label>
                      <div class="col-lg-8 col-xs-8">
                        <input type="text" class="form-control requestChange" id="noCipl" name="noCipl"
                          data-table="Cipl" data-name="CiplNo" data-lable="CIPL No" placeholder="Cipl No" disabled />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-xs-4" required>Category</label>
                      <div class="col-lg-8 col-xs-8">
                        <select class="select2 form-control requestChange" id="jenisBarangCipl" data-name="Category"
                          data-table="Cipl" data-lable="Category" name="Category" required></select>
                        <div class="categoryspareparts pt-2">
                          <select class="" id="sparepartsCipl" name="sparepartsCipl" required></select>
                        </div>
                        <div class="categoryunit pt-2">
                          <select class="" id="unitCipl" name="unitCipl" required></select>
                        </div>
                        <div class="categorymisc pt-2">
                          <input type="text" class="form-control" id="permanentCipl" name="permanentCipl"
                            placeholder="Keterangan" required />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-xs-4" required>Export Type</label>
                      <div class="col-lg-8 col-xs-8">
                        <select class="select2 form-control" id="exportCipl" required></select>
                        <div class="exportRemarks pt-2">
                          <select class="select2" id="exportremarksCipl" name="exportremarksCipl" data-table="Cipl"
                            data-lable="Export Type" data-name="ExportTypeItem" required></select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-1/2">
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4">Date</label>
                    <div class="input-group col-lg-8 col-xs-8">
                      <input type="text" class="form-control" id="dateCipl" name="dateCipl" data-table="Cipl"
                        data-name="dateCipl" data-lable="Date" placeholder="Date" disabled />
                      <div class="input-group-addon cal">
                        <i class="uil uil-calender"></i>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" id="divReferenceNo">
                    <label class="control-label col-lg-4 col-xs-4" required>Reference No</label>
                    <div class="col-lg-8 col-xs-8">
                      <select id="idCategoryReference" data-name="CategoryReference" data-table="Cipl"
                        data-lable="Reference No" class="select2 form-control !mb-4" required></select>
                      @*
                        <div class="input-group-addon" style="padding: 6px 1px !important"></div>
                      *@
                      <div id="divRefCipl" class="pt-2">
                        <select id="refCipl" class="select2 form-control" data-table="Cipl" data-lable="Reference No"
                          data-name="ReferenceNo" multiple="multiple" style="width: 100%" required
                          name="refCipl"></select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group div-idCustomerCipl">
                    <label class="control-label col-lg-4 col-xs-4" required>Id Customer</label>
                    <div class="col-lg-8 col-xs-8">
                      <input type="text" class="form-control" id="idCustomerCipl" data-lable="Id Customer" data-name=""
                        name="idCustomerCipl" placeholder="Id Customer" disabled />
                      @*<select id="idCustomerCipl"></select
                        >*@
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>Pickup Area</label>
                    <div class="col-lg-8 col-xs-8">
                      <select class="form-control" id="idPickupArea" data-lable="Pickup Area"
                        data-name="PickUpArea"></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>Pickup Pic</label>
                    <div class="col-lg-8 col-xs-8">
                      <select class="form-control" id="idPickupPic" data-lable="Pickup Pic"
                        data-name="PickUpPic"></select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-0 mb-4 border-t border-solid border-slate-300"></div>
              <div class="flex gap-x-10 p-6">
                <div class="w-1/2">
                  <div class="row">
                    <div class="form-group">
                      <div class="col-lg-4 col-xs-4"></div>
                      <div class="col-lg-8 col-xs-8">
                        <select id="soldConsigneeCipl" data-lable="Cosignee" data-name="SoldConsignee"
                          class="inpConsignee form-control" required>
                          <option></option>
                        </select>
                      </div>
                    </div>
                    <div class="div-sales-consignee w-full">
                      <div class="form-group">
                        <label class="control-label col-lg-4 col-xs-4" required>Name</label>
                        <div class="col-lg-8 col-xs-8">
                          <input type="text" class="form-control inpConsignee requestChange" data-lable="Name"
                            data-name="SoldToName" id="consigneeNameCipl" name="consigneeNameCipl"
                            placeholder="Consignee Name" required />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-lg-4 col-xs-4" required>Address</label>
                        <div class="col-lg-8 col-xs-8">
                          <textarea type="text" class="form-control inpConsignee requestChange" data-lable="Address"
                            data-name="SoldToAddress" id="consigneeAddressCipl" name="consigneeAddressCipl"
                            placeholder="Address" required></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-lg-4 col-xs-4" required>Country</label>
                        <div class="col-lg-8 col-xs-8">
                          <input type="text" class="form-control inpConsignee requestChange" data-lable="Country"
                            data-name="SoldToCountry" id="consigneeCountryCipl" name="consigneeCountryCipl"
                            placeholder="Country" required />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-lg-4 col-xs-4" required>Telephone</label>
                        <div class="col-lg-8 col-xs-8">
                          <input type="text" class="form-control inpConsignee requestChange" data-lable="Telephone"
                            data-name="SoldToTelephone" id="consigneeTelpCipl" name="consigneeTelpCipl"
                            placeholder="Telephone" required />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-lg-4 col-xs-4" required>Fax</label>
                        <div class="col-lg-8 col-xs-8">
                          <input type="text" class="form-control inpConsignee requestChange" data-lable="Fax"
                            data-name="SoldToFax" id="consigneeFaxCipl" name="consigneeFaxCipl" placeholder="Fax"
                            required />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-lg-4 col-xs-4" required>Pic</label>
                        <div class="col-lg-8 col-xs-8">
                          <input type="text" class="form-control inpConsignee requestChange" data-lable="Pic"
                            data-name="SoldToPic" id="consigneePicCipl" name="consigneePicCipl" placeholder="PIC"
                            required />
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-lg-4 col-xs-4" required>Email</label>
                        <div class="col-lg-8 col-xs-8">
                          <input type="text" class="form-control inpConsignee requestChange" data-lable="Email"
                            data-name="SoldToEmail" id="consigneeEmailCipl" name="consigneeEmailCipl"
                            placeholder="Email" required />
                          <div class="email-warning text-xs mt-2 text-blue-700">
                            *If multiple emails, please separate using the sign (;)
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-1/2">
                  <div class="form-group">
                    <div class="col-lg-4 col-xs-4"></div>
                    <div class="col-lg-8 col-xs-8">
                      <select id="shipDeliveryCipl" data-lable="Delivery type" data-name="ShipDelivery"
                        class="inpConsignee requestChange form-control" required>
                        <option></option>
                      </select>
                    </div>
                  </div>
                  <div class="w-full">
                    <div class="form-group">
                      <div class="col-lg-4 col-xs-4"></div>
                      <div class="input-group col-lg-8 col-xs-8">
                        <div class="input-group">
                          <div id="div-radio-notify" class="btn-toggle">
                            <span class="btn btn-default btn-sm notactive-notify notifySameCipl"
                              data-toggle="notifychange" data-value="L" data-active="btn-active"
                              data-notactive-notify="btn-default">Same As</span>
                            <span class="btn btn-default btn-sm notactive-notify notifyDifferentCipl"
                              data-toggle="notifychange" data-value="D" data-active="btn-active"
                              data-notactive-notify="btn-default">Different</span>
                          </div>
                          @* <div id="div-radio-notify" class="btn-group btn-group-justified btn-toggle">
                            <span class="btn btn-default btn-round btn-sm notactive-notify notifySameCipl"
                            data-toggle="notifychange" data-value="L" data-active="btn-active"
                            data-notactive-notify="btn-default">Same As</span>
                            <span class="btn btn-default btn-round btn-sm notactive-notify notifyDifferentCipl"
                            data-toggle="notifychange" data-value="D" data-active="btn-active"
                            data-notactive-notify="btn-default">Different</span>
                            </div> *@
                          <input type="hidden" name="NotifyPartySameConsignee" id="NotifyPartySameConsignee"
                            data-name="NotifyPartySameConsignee" required />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="notify">
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-xs-4">Name</label>
                      <div class="col-lg-8 col-xs-8">
                        <input type="text" class="form-control inpNotify requestChange" data-lable="Notify Name"
                          data-name="NotifyName" id="notifyNameCipl" placeholder="Consignee Name" name="notifyNameCipl"
                          required />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-xs-4">Address</label>
                      <div class="col-lg-8 col-xs-8">
                        <textarea type="text" class="form-control inpNotify requestChange" data-lable="Notify Address"
                          data-name="NotifyAddress" id="notifyAddressCipl" placeholder="Address"
                          name="notifyAddressCipl" required></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-xs-4">Country</label>
                      <div class="col-lg-8 col-xs-8">
                        <input type="text" class="form-control inpNotify requestChange" data-lable="Notify Country"
                          data-name="NotifyCountry" id="notifyCountryCipl" placeholder="Country"
                          name="notifyCountryCipl" required />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-xs-4">Telephone</label>
                      <div class="col-lg-8 col-xs-8">
                        <input type="text" class="form-control inpNotify requestChange" data-lable="Notify Telephone"
                          data-name="NotifyTelephone" id="notifyTelpCipl" placeholder="Telephone" name="notifyTelpCipl"
                          required />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-xs-4">Fax</label>
                      <div class="col-lg-8 col-xs-8">
                        <input type="text" class="form-control inpNotify requestChange" data-lable="Notify Fax"
                          data-name="NotifyFax" id="notifyFaxCipl" placeholder="Fax" name="notifyFaxCipl" required />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-xs-4">Pic</label>
                      <div class="col-lg-8 col-xs-8">
                        <input type="text" class="form-control inpNotify requestChange" data-lable="Notify Pic"
                          data-name="NotifyPic" id="notifyPicCipl" placeholder="PIC" name="notifyPicCipl" required />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-lg-4 col-xs-4">Email</label>
                      <div class="col-lg-8 col-xs-8">
                        <input type="text" class="form-control inpNotify requestChange" data-lable="Notify Email"
                          data-name="NotifyEmail" id="notifyEmailCipl" placeholder="Email" name="notifyEmailCipl"
                          required />
                        <div class="email-warning text-xs mt-2 text-blue-700">*If multiple emails, please separate using
                          the sign (;)</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-0 mb-4 border-t border-solid border-slate-300"></div>
              <div class="flex gap-x-10 p-6">
                <div class="w-1/2">
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>Plant (Business Area)</label>
                    <div class="col-lg-8 col-xs-8">
                      <select class="select2 form-control requestChange" id="areaCipl"
                        data-lable="Plant (Business Area)" data-name="Area" name="areaCipl" required>
                        <option></option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>Branch</label>
                    <div class="col-lg-8 col-xs-8">
                      <input type="text" class="form-control requestChange" data-lable="Branch" data-name="Branch"
                        id="cabangCipl" name="cabangCipl" required />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>Consolidate</label>
                    <div class="col-lg-8 col-xs-8">
                      <select class="select2 form-control requestChange" id="ConsolidateCipl" data-lable="Consolidate"
                        data-name="Consolidate" name="ConsolidateCipl" required>
                        <option></option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>Currency</label>
                    <div class="col-lg-8 col-xs-8">
                      <select class="select2 form-control requestChange" id="currencyCipl" data-lable="Currency"
                        data-name="Currency" name="currencyCipl" required>
                        <option></option>
                      </select>
                      @*<input
                        type="text"
                        class="form-control select2"
                        id="currencyCipl"
                        name="currencyCipl"
                        placeholder="Currency"
                        required />*@
                    </div>
                  </div>
                  <div class="form-group hide">
                    <label class="control-label col-lg-4 col-xs-4">Lastest Kurs in USD</label>
                    <div class="col-lg-8 col-xs-8">
                      <input type="text" class="form-control select2 requestChange" data-lable="Lastest Kurs in USD"
                        data-name="Rate" id="RateCipl" name="RateCipl" placeholder="Kurs" required disabled />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>Payment Terms</label>
                    <div class="col-lg-8 col-xs-8">
                      <select class="select2 form-control requestChange" data-name="PaymentTerms"
                        data-lable="Payment Terms" name="paymentCipl" id="paymentCipl" required></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>Shipping Method</label>
                    <div class="col-lg-8 col-xs-8">
                      <select class="select2 form-control requestChange" data-name="ShippingMethod"
                        data-lable="Shipping Method" id="shippingCipl" name="shippingCipl" required></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4">Country Of Origin</label>
                    <div class="col-lg-8 col-xs-8">
                      <select class="select2 form-control requestChange" data-name="CountryOfOrigin"
                        data-lable="Country Of Origin" id="countryCipl" name="countryCipl"></select>
                    </div>
                  </div>
                  <div class="form-group divStatusEdit">
                    <label class="control-label col-lg-4 col-xs-4">Loading Port</label>
                    <div class="col-lg-8 col-xs-8">
                      <select class="select2 form-control requestChange" data-name="LoadingPort"
                        data-lable="Loading Por" id="loadingCipl" name="loadingCipl"></select>
                    </div>
                  </div>
                  <div class="form-group divStatusEdit">
                    <label class="control-label col-lg-4 col-xs-4">Destination Port</label>
                    <div class="col-lg-8 col-xs-8">
                      <select class="select2 form-control requestChange" data-name="DestinationPort"
                        data-lable="Destination Port" id="destinationCipl" name="destinationCipl"></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>LC No & Date</label>
                    <div class="col-lg-8 col-xs-8">
                      <div class="input-group double-input">
                        <input type="text" class="form-control requestChangel" id="lcnoCipl" data-lable="LC No & Date"
                          name="lcnoCipl" placeholder="LC No & Date" required
                          style="width: 75%; border-right-width: 0px" />
                        <div class="input-group-addon cal">
                          <i class="uil uil-calender"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  @*
                    <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>LC No & Date</label>
                    <div class="col-lg-8 col-xs-8">
                    <div class="input-group double-input">
                    <input
                    type="text"
                    class="form-control date requestChange"
                    id="lcDateCipl"
                    name="lcDateCipl"
                    placeholder="Date"
                    style="width: 25%; border-right-width: 0px" />
                    <div class="input-group-addon cal">
                    <i class="uil uil-calender"></i>
                    </div>
                    </div>
                    </div>
                    </div>
                  *@
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>Inco Terms</label>
                    <div class="col-lg-8 col-xs-8">
                      <select class="select2 form-control requestChange" data-name="IncoTerm" data-lable="Inco Terms"
                        id="incoCipl" required>
                        <option></option>
                      </select>
                      <div class="descriptionIncoTerms text-xs mt-2 text-blue-700"></div>
                    </div>
                  </div>
                </div>
                <div class="w-1/2">
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>Freight Payment</label>
                    <div class="col-lg-8 col-xs-8">
                      <select class="select2 form-control requestChange" data-name="FreightPayment" id="freightCipl"
                        data-lable="Freight Payment" name="freightCipl" required></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>Type</label>
                    <div class="col-lg-8 col-xs-8" id="ActType/">
                      <select class="select2 form-control requestChange" data-name="Type" id="typeCipl"
                        data-lable="Type" name="typeCipl" required></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-xs-4" required>Forwarder</label>
                    <div class="col-lg-8 col-xs-8" id="ActForwader/">
                      <select class="select2 form-control requestChange" data-name="Forwader" data-lable="Forwarder"
                        id="forwaderCipl" name="forwaderCipl" required></select>
                    </div>
                  </div>

                  <div class="form-group divCkbBranchCipl">
                    <label class="control-label col-lg-4 col-xs-4" required>Branch Ckb</label>
                    <div class="input-group col-lg-8 col-xs-8">
                      <select id="CkbBranchCipl" data-name="Branch" name="CkbBranchCipl" data-lable="Branch Ckb"
                        class="select2 requestChange" required style="width: 100%"></select>
                    </div>
                  </div>
                  <div class="form-group forwaderCompanyCipl">
                    <label class="control-label col-lg-4 col-xs-4" required>Company Name</label>
                    <div class="input-group col-lg-8 col-xs-8">
                      <input type="text" class="form-control requestChange" data-name="Company"
                        data-lable="Company Name" id="forwaderCompanyCipl" placeholder="Company Name"
                        value="PT.Cipta Krida Bahari" required />
                    </div>
                  </div>
                  <div class="form-group forwaderForwadingCipl">
                    <label class="control-label col-lg-4 col-xs-4" required>Subcon Company</label>
                    <div class="input-group col-lg-8 col-xs-8">
                      <input type="text" class="form-control requestChange" data-name="SubconCompany"
                        data-lable="Subcon Company" id="forwaderForwadingCipl" placeholder="Subcon Company" required />
                    </div>
                  </div>
                  <div class="form-group forwaderAddressCipl">
                    <label class="control-label col-lg-4 col-xs-4" required>Address</label>
                    <div class="input-group col-lg-8 col-xs-8">
                      <textarea type="text" class="form-control requestChange" data-name="Address" data-lable="Address"
                        id="forwaderAddressCipl" placeholder="Address" required></textarea>
                    </div>
                  </div>
                  <div class="form-group forwaderAreaCipl">
                    <label class="control-label col-lg-4 col-xs-4" required>Area</label>
                    <div class="input-group col-lg-8 col-xs-8">
                      <input type="text" class="form-control requestChange" data-name="Area" data-lable="Area"
                        id="forwaderAreaCipl" placeholder="Area" required />
                    </div>
                  </div>
                  <div class="form-group forwaderCityCipl">
                    <label class="control-label col-lg-4 col-xs-4" required>City</label>
                    <div class="input-group col-lg-8 col-xs-8">
                      <input type="text" class="form-control requestChange" data-name="City" data-lable="City"
                        id="forwaderCityCipl" placeholder="City" required />
                    </div>
                  </div>
                  <div class="form-group forwaderContactCipl">
                    <label class="control-label col-lg-4 col-xs-4" required>Postal Code</label>
                    <div class="input-group col-lg-8 col-xs-8">
                      <input type="text" class="form-control requestChange" data-name="PostalCode"
                        data-lable="Postal Code" id="forwaderPostalCodeCipl" placeholder="Postal Code" required />
                    </div>
                  </div>
                  <div class="form-group forwaderContactCipl">
                    <label class="control-label col-lg-4 col-xs-4" required>Contact Number</label>
                    <div class="input-group col-lg-8 col-xs-8">
                      <input type="text" class="form-control requestChange" data-name="Contact"
                        data-lable="Contact Number" id="forwaderContactCipl" placeholder="Contact" required />
                    </div>
                  </div>
                  <div class="form-group forwaderFaxCipl">
                    <label class="control-label col-lg-4 col-xs-4" required>Fax Number</label>
                    <div class="input-group col-lg-8 col-xs-8">
                      <input type="text" class="form-control requestChange" data-name="FaxNumber"
                        data-lable="Fax Number" id="forwaderFaxCipl" placeholder="Fax" required />
                    </div>
                  </div>
                  <div class="form-group forwaderAttentionCipl">
                    <label class="control-label col-lg-4 col-xs-4" required>Attention</label>
                    <div class="input-group col-lg-8 col-xs-8">
                      <input type="text" class="form-control requestChange" data-name="Attention" data-lable="Attention"
                        id="forwaderAttentionCipl" placeholder="Attention" required />
                    </div>
                  </div>
                  <div class="form-group forwaderEmailCipl">
                    <label class="control-label col-lg-4 col-xs-4" required>Email</label>
                    <div class="input-group col-lg-8 col-xs-8">
                      <input type="text" class="form-control requestChange" data-name="Email" data-lable="Email"
                        id="forwaderEmailCipl" placeholder="Email" required />
                    </div>
                    <div class="col-lg-8 col-xs-8">
                      <label style="color: blue">*If multiple emails, please separate using the sign (;)</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-0 mb-6 border-t border-solid border-slate-300"></div>
              <div class="gap-x-10">
                <div class="">
                  <fieldset class="scheduler-border">
                    <legend style="display: none">&nbsp;</legend>
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6"></div>
                  </fieldset>
                  <fieldset class="scheduler-border field-2">
                    <legend style="display: none">&nbsp;</legend>
                    <div class="col-md-6 col-ship-to"></div>

                    <div class="col-md-6 col-notify-party"></div>
                  </fieldset>
                  <fieldset class="scheduler-border">
                    @*
                      <legend class="scheduler-border"></legend>
                    *@
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6"></div>
                  </fieldset>
                  <fieldset class="scheduler-border">
                    <div class="">
                      <div class="tableItemSpareparts">
                        <div class="toolbarParts">
                          <button type="button"
                            class="inline-flex btn-grad-orange h-9 !px-4 !py-1 rounded-full hover:shadow-md gap-x-2 items-center text-sm font-medium"
                            data-toggle="modal" data-target="#ModalAddNewReference" id="partAddButton" value="Add">
                            <i class="uil uil-plus-circle text-lg"></i><span>Add New</span>
                          </button>
                          <button type="button"
                            class="inline-flex h-9 !px-4 !py-1 rounded-full bg-slate-200 text-slate-600 hover:shadow-md hover:bg-slate-200 gap-x-2 items-center text-sm font-medium cursor-pointer transition-all"
                            data-toggle="modal" data-target="#ModaldownloadTemplate" id="partDownloadTemplate"
                            onClick="window.location.href='/Content/EMCS/Templates/CIPLItem/TemplateCatepillarSparePart.xlsx'"
                            value="DownloadTemplate">
                            <i class="uil uil-cloud-download"></i><span>Download Template</span>
                          </button>
                          <button type="button"
                            class="btnAddItem inline-flex h-9 !px-4 !py-1 rounded-full bg-slate-100 text-slate-600 hover:shadow-md hover:bg-slate-200 gap-x-2 items-center text-sm font-medium cursor-pointer transition-all"
                            data-toggle="modal" data-target="#ModaldownloadFile" id="partDownloadFile"
                            style="display: none" value="DownloadFile">
                            <i class="uil uil-cloud-download"></i><span>Download File</span>
                          </button>
                          @*<button
                            type="button"
                            class="btn btn-success btn-md btnAddItem"
                            data-toggle="modal"
                            data-target="#ModaldownloadFile"
                            id="submit"
                            style="min-width: 120px"
                            value="UploadFile">
                            <i class="fa fa-plus-circle"></i> UPLOAD FILE</button
                            >*@
                        </div>
                        @* <div class="col-md-12">
                          <div class="col-md-4 mt-2 mb-2">
                          <div class="row text-center divUploadFile dropzone"
                          title="Drop the Import File Here or Click this Section for Browse the Import File."
                          id="partUploadFile"></div>
                          </div>
                          <div id="template-dropzone" class="hidden">
                          <div id="template" class="file-row text-left" style="padding: 20px">
                          <!-- This is used as the file preview template -->
                          <div class="col-md-2">
                          <div class="row">
                          <span class="preview">
                          <img alt="Excel Icon" style="width: 65%; height: auto"
                          src="~/Images/EMCS/excel.png" />
                          </span>
                          </div>
                          </div>
                          <div>
                          <p class="name" data-dz-name></p>
                          <strong class="error text-danger" data-dz-errormessage></strong>
                          </div>
                          <div class="col-md-10">
                          <div class="row">
                          <p class="size" data-dz-size></p>
                          <div class="row">
                          <div class="col-md-8">
                          <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                          aria-valuemax="100" aria-valuenow="0">
                          <div class="progress-bar progress-bar-success" style="width: 0%"
                          data-dz-uploadprogress></div>
                          </div>
                          </div>
                          <div class="col-md-4">
                          <span data-dz-uploadprogress id="progressPercent"></span>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div> *@
                        <div class="table-responsive">
                          <table class="table table-bordered" data-toolbar=".toolbarParts" id="tablepartCipl"></table>
                        </div>
                      </div>
                      <div class="tableItemUnit">
                        <div class="toolbarUnit">
                          <button type="button"
                            class="inline-flex btn-grad-orange h-9 !px-4 !py-1 rounded-full hover:shadow-md gap-x-2 items-center text-sm font-medium"
                            data-toggle="modal" data-target="#ModalAddNewReference" id="unitAddButton"
                            style="min-width: 120px" value="Add">
                            <i class="uil uil-plus-circle text-lg"></i><span>Add New</span>
                          </button>
                        </div>
                        <table class="table table-bordered" data-toolbar=".toolbarUnit" id="tableunitCipl"></table>
                      </div>
                      <div class="tableItemMisc">
                        <div class="toolbarMisc">
                          <button type="button"
                            class="inline-flex btn-grad-orange h-9 !px-4 !py-1 rounded-full hover:shadow-md gap-x-2 items-center text-sm font-medium"
                            data-toggle="modal" data-target="#ModalUpdateReference" id="miscAddButton"
                            style="min-width: 120px" value="Add">
                            <i class="uil uil-plus-circle text-lg"></i><span>Add New</span>
                          </button>
                        </div>
                        <table class="table table-bordered" data-toolbar=".toolbarMisc" id="tablemiscCipl"></table>
                      </div>
                      <div class="tableItemEmail">
                        <div class="toolbarEmail">
                          <button type="button"
                            class="inline-flex btn-grad-orange h-9 !px-4 !py-1 rounded-full hover:shadow-md gap-x-2 items-center text-sm font-medium"
                            data-toggle="modal" data-target="#ModalUpdateReference" id="emailAddButton"
                            style="min-width: 120px" value="Add">
                            <i class="uil uil-plus-circle text-lg"></i><span>Add New</span>
                          </button>
                        </div>
                        <table class="table table-bordered" data-toolbar=".toolbarEmail" id="tableemailCipl"></table>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-md-6 tableItem">
                        <div class="form-group">
                          <label class="control-label col-lg-4 col-xs-4">Shipping Mark & Nos <span
                              class="text-danger">*</span></label>
                          <div class="col-lg-8 col-xs-8">
                            <textarea type="text" rows="7" class="form-control requestChange"
                              data-lable="Shipping Mark & Nos" data-name="ShippingMarks" id="shippingMarkCipl"
                              name="shippingMarkCipl" placeholder="Marks & Nos" required></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4 col-xs-4">Special Instruction <span
                              class="text-danger">*</span></label>
                          <div class="col-lg-8 col-xs-8">
                            <textarea type="text" rows="7" class="form-control requestChange"
                              data-lable="Special Instruction" data-name="SpecialInstruction" id="txtSpecialInscCipl"
                              name="txtSpecialInscCipl" placeholder="Special Instruction" required></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 tableItem">
                        <div class="form-group">
                          <label class="control-label col-lg-4 col-xs-4">Total Quantity</label>
                          <div class="col-lg-8 col-xs-8">
                            <input type="text" class="form-control" id="quantityCipl" name="quantityCipl"
                              placeholder="Quantity" disabled />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4 col-xs-4">Total Collies / Package</label>
                          <div class="col-lg-8 col-xs-8">
                            <input type="text" class="form-control" id="colliesCipl" name="colliesCipl"
                              placeholder="Collies" disabled />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4 col-xs-4">Total Volume</label>
                          <div class="input-group col-lg-8 col-xs-8">
                            <input type="text" class="form-control" id="volumeCipl" name="volumeCipl"
                              placeholder="Volume" disabled />
                            <div class="input-group-addon">
                              m3
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4 col-xs-4">Total Net Weight</label>
                          <div class="input-group col-lg-8 col-xs-8">
                            <input type="text" class="form-control decimal" id="weightCipl" name="weightCipl"
                              placeholder="Weight" disabled />
                            <div class="input-group-addon">
                              KGs
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4 col-xs-4">Total Gross Weight</label>
                          <div class="input-group col-lg-8 col-xs-8">
                            <input type="text" class="form-control requestChange" id="grossCipl" name="grossCipl"
                              placeholder="Gross" disabled />
                            <div class="input-group-addon">
                              KGs
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-lg-4 col-xs-4">Remarks</label>
                          <div class="col-lg-8 col-xs-8">
                            <textarea type="text" rows="5" class="form-control" data-name="Remarks" id="remarksCipl"
                              name="remarksCipl" placeholder="Remarks" required disabled></textarea>
                          </div>
                        </div>
                      </div>
                      <br /><br />
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="mt-4 mb-0 border-t border-solid border-slate-300"></div>
              <div class="flex justify-between items-center p-6">
                <div>
                  <a href="~/EMCS/CiplList"
                    class="inline-flex items-center gap-x-1 text-gray-500 hover:text-gray-900"><i
                      class="uil uil-previous text-xl"></i><span class="font-medium">Back</span></a>
                </div>
                <div class="flex gap-x-5">
                  @*@if (ViewBag.GroupName.Contains("Imex")) {*@
                  <button type="button" hidden class="btn btn-info btn-round" data-toggle="modal"
                    id="RequestForChangeHistoryCIPL" data-target="#myModalRequestForChangeReason"
                    style="min-width: 120px">
                    <i class="uil uil-save text-lg"></i><span>Request for change history</span>
                  </button>
                  @*}*@
                  <button
                    class="inline-flex h-12 !px-7 !py-1.5 rounded-full bg-slate-200 text-slate-600 hover:shadow-md hover:bg-slate-200 gap-x-2 items-center text-sm font-medium cursor-pointer transition-all"
                    id="btnSaveCipl" value="Draft">
                    <i class="uil uil-save text-xl"></i><span class="font-medium">Save as Draft</span>
                  </button>
                  <button type="button"
                    class="inline-flex btn-grad-orange h-12 !px-7 !py-1.5 rounded-full hover:shadow-md gap-x-2 items-center text-sm font-medium cursor-pointer transition-all"
                    id="btnSubmitCipl" value="Submit">
                    <i class="uil uil-message text-lg"></i><span>Submit</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-documents">
          <div class="card">
            <div class="table-responsive">
              <div class="toolbarDocument" id="toolbarDocument">
                <button type="button"
                  class="btnAddItem inline-flex btn-grad-orange h-9 !px-4 !py-1 rounded-full hover:shadow-md gap-x-2 items-center text-sm font-medium"
                  data-toggle="modal" data-target="#myModalDocument" id="documentAddButton" style="min-width: 120px"
                  value="Add">
                  <i class="uil uil-plus-circle text-lg"></i><span>Add New</span>
                </button>
              </div>
              <table id="tableCiplFormDocuments" data-toolbar=".toolbarDocument" class="table table-bordered"></table>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-task-problem-cipl">
          <div class="mt-15 table-responsive">
            <table id="tableCiplProblemHistory" data-toolbar=".toolbar" class="table table-bordered"></table>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="myModalDocument" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" style="width: 800px">
    <div class="modal-content">
      <form id="FormDocument" role="form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Document</h4>
        </div>
        <div class="modal-body">
          <div class="row" id="formeditreference">
            <div class="col-lg-12">
              <div class="form-group hidden">
                <label class="control-label col-md-3 col-xs-12">IdDocument</label>
                <div class="input-group col-md-9 col-xs-12">
                  <input type="text" class="form-control" id="Id" name="Id" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-xs-12">Document Date</label>
                <div class="input-group col-md-10 col-xs-12">
                  <input class="form-control date required" id="inp-doc-date" name="inp-doc-date" placeholder="Date"
                    style="background:white;" value="@DateTime.Now.ToString("dd MMM yyyy")">
                  <div class="input-group-addon cal-doc-date" style="background: #00c0ef; border-color: #00acd6">
                    <i class="uil uil-calender"></i>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-xs-12">Document Name</label>
                <div class="col-md-10 col-xs-12">
                  <input type="text" class="form-control" id="DocumentName" name="DocumentName" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-round btnAddDocument" data-dismiss="modal"
            id="btnAddDocument" style="min-width: 120px">
            <i class="fa fa-pencil"></i> Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="myModalUploadPlace" class="modal fade">
  <div class="modal-dialog" style="width: 800px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><i class="fa fa-edit"></i>&nbsp;Upload File Document</h4>
        <h5 class="modal-title"><i class="fa fa-info"></i>&nbsp;&nbsp;Maximum size of file allowed is 2 MB</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="row text-center divUploadFile dropzone" id="FormUploadDocumentContainer"></div>
          </div>
          <div class="form-group hidden">
            <label class="control-label col-md-3 col-xs-12">IdDocument</label>
            <div class="input-group col-md-9 col-xs-12">
              <input type="text" class="form-control" id="IdDocumentUpload" name="IdDocumentUpload" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

      <div id="template-dropzone" class="hidden">
        <div id="template" class="file-row text-left" style="padding: 20px">
          <!-- This is used as the file preview template -->
          <div class="col-md-2">
            <div class="row">
              <span class="preview">
                <img alt="Data Thumbnail" style="width: 65%; height: auto" data-dz-thumbnail />
              </span>
            </div>
          </div>
          <div>
            <p class="name" data-dz-name></p>
            <strong class="error text-danger" data-dz-errormessage></strong>
          </div>
          <div class="col-md-10">
            <div class="row">
              <p class="size" data-dz-size></p>
              <div class="row">
                <div class="col-md-8">
                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width: 0%" data-dz-uploadprogress></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <span data-dz-uploadprogress id="progressPercent"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModalUploadPreview" class="modal fade">
  <div class="modal-dialog" style="width: 800px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><i class="fa fa-edit"></i>&nbsp;Preview File Document</h4>
      </div>
      <div class="modal-body">
        <div class="form-group hidden">
          <label class="control-label col-md-3 col-xs-12">IdDocument</label>
          <div class="input-group col-md-9 col-xs-12">
            <input type="text" class="form-control" id="IdDocument" name="IdDocument" />
          </div>
        </div>
        <div class="form-group hidden">
          <label class="control-label col-md-3 col-xs-12">Filename</label>
          <div class="input-group col-md-9 col-xs-12">
            <input type="text" class="form-control" id="Filename" name="Filename" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <iframe title="File Name Cipl File" id="framePreview" name="framePreview" src=""
              style="width: 100%; height: 800px"></iframe>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="ModalAddNewReference" class="modal fade" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Data Sales Order</h4>
      </div>
      <div class="modal-body">
        <form id="FormAddReference">
          <div class="row" id="FormOldCore">
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label col-lg-12 col-xs-12">Packaging Type</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <select class="select2" name="PackagingTypeParts" id="PackagingTypeParts" required></select>
                </div>
              </div>
              <div class="form-group" id="div-CaseNumberParts">
                <label class="control-label col-lg-12 col-xs-12">Case Number</label>
                <div class="col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="CaseNumberParts" name="CaseNumberParts"
                    placeholder="Case Number" required />
                </div>
              </div>
              <div class="form-group" id="div-ASNNumberParts">
                <label class="control-label col-lg-12 col-xs-12">ASN Number</label>
                <div class="col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="ASNNumberParts" name="ASNNumberParts"
                    placeholder="ASN Number" required />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label col-lg-12 col-xs-12">Length</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control SumVolumenOldCore decimal" id="LengthParts" name="LengthParts"
                    placeholder="Length" value="0" />
                  <div class="input-group-addon"
                    style="width: 50px; background: #00c0ef; border-color: #00acd6; color: white">cm</div>
                </div>
              </div>
              <div class="form-group" id="div-WidthParts">
                <label class="control-label col-lg-12 col-xs-12">Width</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control SumVolumenOldCore decimal" id="WidthParts" name="WidthParts"
                    placeholder="Width" value="0" />
                  <div class="input-group-addon"
                    style="width: 50px; background: #00c0ef; border-color: #00acd6; color: white">cm</div>
                </div>
              </div>
              <div class="form-group" id="div-HeightParts">
                <label class="control-label col-lg-12 col-xs-12">Height</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control SumVolumenOldCore decimal" id="HeightParts" name="HeightParts"
                    placeholder="Height" value="0" />
                  <div class="input-group-addon"
                    style="width: 50px; background: #00c0ef; border-color: #00acd6; color: white">cm</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" id="div-VolumeParts">
                <label class="control-label col-lg-12 col-xs-12">Volume</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control decimal" id="VolumeParts" name="VolumeParts"
                    placeholder="Volume" disabled value="0" />
                  <div class="input-group-addon"
                    style="width: 50px; background: #00c0ef; border-color: #00acd6; color: white">m3</div>
                </div>
              </div>
              <div class="form-group" id="div-GrossWeightParts">
                <label class="control-label col-lg-12 col-xs-12">Gross Weight</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control decimal" id="GrossWeightParts" name="GrossWeightParts"
                    placeholder="Gross Weight" value="0" />
                  <div class="input-group-addon"
                    style="width: 50px; background: #00c0ef; border-color: #00acd6; color: white">KGs</div>
                </div>
              </div>
              <div class="form-group" id="div-NetWeightParts">
                <label class="control-label col-lg-12 col-xs-12">Net Weight</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control decimal" id="NetWeightParts" name="NetWeightParts"
                    placeholder="Net Weight" value="0" />
                  <div class="input-group-addon"
                    style="width: 50px; background: #00c0ef; border-color: #00acd6; color: white">KGs</div>
                </div>
              </div>
            </div>
          </div>
          <div id="toolbar-reference" class="toolbar-reference hide">
            <form class="form-inline" id="FormSearchReference">
              <div class="form-group">
                <label class="sr-only">Search By</label>
                <select class="form-control" id="Column" required>
                  <option value="">-- Please Select Search By Column --</option>
                  <option value="JCode">JCode</option>
                  <option value="PartNumber">Part Number</option>
                  <option value="UnitSN">Unit SN</option>
                </select>
              </div>
              <div class="form-group">
                <label class="sr-only">Search Number / Name</label>
                <input type="text" class="form-control" id="ColumnValue" placeholder="Number / Name" required />
              </div>
              <button type="button" id="BtnSearchReference" class="btn btn-success"
                style="margin-bottom: 4px; height: 32px">Filter</button>
            </form>
          </div>
          <table class="table table-bordered" id="tablereference" data-maintain-selected="true" data-unique-id="Id"
            data-checkbox="true"></table>
          @*
            <table
            class="table table-bordered"
            id="tablereference"
            data-checkbox="true"
            data-pagination="true"
            data-side-pagination="server"
            data-maintain-selected="true"></table>
          *@
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round btnAddReference" data-dismiss="modal"
          id="btnAddReference" style="min-width: 120px">
          <i class="fa fa-pencil"></i> Add
        </button>
      </div>
    </div>
  </div>
</div>
<div id="ModalAddNewParts" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Parts Item</h4>
      </div>
      <form id="FormAddNewParts">
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-round BtnAddNewParts" data-dismiss="modal"
            id="BtnAddNewParts" style="min-width: 120px">
            <i class="fa fa-pencil"></i> Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="ModalUpdateReference" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" id="div-modalReferenceItem">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Data</h4>
      </div>
      <form id="FormReference">
        <div class="modal-body">
          <div class="row" id="formeditreference">
            <div class="col-md-4" id="div-column1">
              <div class="form-group hide">
                <label class="control-label col-lg-4 col-xs-4">Id Item</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="IdItem" name="IdItem" disabled />
                </div>
              </div>
              <div class="form-group" id="div-IdReference">
                <label class="control-label col-lg-4 col-xs-4">Id Reference</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="IdReference" name="IdReference" disabled />
                </div>
              </div>
              <div class="form-group" id="div-ReferenceItemCipl">
                <label class="control-label col-lg-4 col-xs-4">Reference No</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="ReferenceItemCipl" name="ReferenceItemCipl" disabled />
                </div>
              </div>
              <div class="form-group" id="div-IdCustomerItemCipl">
                <label class="control-label col-lg-4 col-xs-4">Id Customer</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="IdCustomerItemCipl" name="IdCustomerItemCipl" disabled />
                </div>
              </div>
              <div class="form-group hide" id="div-IdCustomerItemCipl">
                <label class="control-label col-lg-4 col-xs-4">Id Parent</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="IdParentItemCipl" name="IdParentItemCipl" disabled />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-xs-4">Name Of Goods</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="NameItemCipl" name="NameItemCipl" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-xs-4">UOM</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <select class="select2" id="UomItemCipl" name="UomItemCipl"></select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-xs-4">Quantity</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-small form-control" name="QuantityItemCipl" id="QuantityItemCipl" />
                    <span class="input-group-addon"
                      style="background: #00c0ef; border-color: #00acd6; color: white">MAX</span>
                    <input type="text" class="input-small form-control" name="MaxQuantityItemCipl"
                      id="MaxQuantityItemCipl" disabled />
                    <input type="text" class="input-small form-control hide" name="AvailableQuantityItemCipl"
                      id="AvailableQuantityItemCipl" disabled />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-lg-4 col-xs-4">Part Number</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="PartItemCipl" name="PartItemCipl" disabled />
                </div>
              </div>

              <div class="form-group" id="div-SIBNumberItemCipl">
                <label class="control-label col-lg-4 col-xs-4">SIB Number</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="SIBNumberItemCipl" name="SIBNumberItemCipl" />
                </div>
              </div>
              <div class="form-group" id="div-WONumberItemCipl">
                <label class="control-label col-lg-4 col-xs-4">WO Number</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="WONumberItemCipl" name="WONumberItemCipl" />
                </div>
              </div>
              <div class="form-group" id="div-ClaimItemCipl">
                <label class="control-label col-lg-4 col-xs-4">Claim</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="ClaimItemCipl" name="ClaimItemCipl" />
                </div>
              </div>
            </div>
            <div class="col-md-4" id="div-column2">
              <div class="form-group" id="div-SnItemCipl">
                <label class="control-label col-lg-4 col-xs-4">SN</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="SnItemCipl" name="SnItemCipl" />
                </div>
              </div>
              <div class="form-group" id="div-JcodeItemCipl">
                <label class="control-label col-lg-4 col-xs-4">J-Code</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="JcodeItemCipl" name="JcodeItemCipl" disabled />
                </div>
              </div>
              <div class="form-group" id="div-CcrItemCipl">
                <label class="control-label col-lg-4 col-xs-4">CCR</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="CcrItemCipl" name="CcrItemCipl" disabled />
                </div>
              </div>
              <div class="form-group" id="div-CaseNumItemCipl">
                <label class="control-label col-lg-4 col-xs-4">Case Number</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="CaseNumItemCipl" name="CaseNumItemCipl" />
                </div>
              </div>
              <div class="form-group" id="div-ASNNumItemCipl">
                <label class="control-label col-lg-4 col-xs-4">ASN Number</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="ASNNumItemCipl" name="ASNNumItemCipl" />
                </div>
              </div>
              <div class="form-group" id="div-CoOItemCipl">
                <label class="control-label col-lg-4 col-xs-4">Country of Origin</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="CoOItemCipl" name="CoOItemCipl" />
                </div>
              </div>
              <div class="form-group" id="div-TypeItemCipl">
                <label class="control-label col-lg-4 col-xs-4">Type</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="TypeItemCipl" name="TypeItemCipl" />
                </div>
              </div>
              <div class="form-group" id="div-YearMadeItemCipl">
                <label class="control-label col-lg-4 col-xs-4">Year made</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="YearMadeItemCipl" name="YearMadeItemCipl" />
                </div>
              </div>
              <div class="form-group" id="div-IdNoItemCipl">
                <label class="control-label col-lg-4 col-xs-4">ID No</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="IdNoItemCipl" name="IdNoItemCipl" disabled />
                </div>
              </div>
              <div class="form-group hide">
                <label class="control-label col-lg-4 col-xs-4">Currency</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="CurrencyItemCipl" name="CurrencyItemCipl" disabled />
                </div>
              </div>
            </div>
            <div class="col-md-4" id="div-column3">
              <div class="form-group">
                <label class="control-label col-lg-4 col-xs-4">Unit Price</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="UnitItemCipl" name="UnitItemCipl" disabled />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-xs-4">Extended Value</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control" id="ExtendedItemCipl" name="ExtendedItemCipl" disabled />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-xs-4">Length</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control SumVolume decimal" id="LengthItemCipl" name="LengthItemCipl"
                    value="0" />
                  <div class="input-group-addon"
                    style="width: 50px; background: #00c0ef; border-color: #00acd6; color: white">cm</div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-xs-4">Width</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control SumVolume decimal" id="WidthItemCipl" name="WidthItemCipl"
                    value="0" />
                  <div class="input-group-addon"
                    style="width: 50px; background: #00c0ef; border-color: #00acd6; color: white">cm</div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-xs-4">Height</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control SumVolume decimal" id="HeightItemCipl" name="HeightItemCipl"
                    value="0" />
                  <div class="input-group-addon"
                    style="width: 50px; background: #00c0ef; border-color: #00acd6; color: white">cm</div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-xs-4">Volume</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control decimal" id="VolumeItemCipl" name="VolumeItemCipl" disabled />
                  <div class="input-group-addon"
                    style="width: 50px; background: #00c0ef; border-color: #00acd6; color: white">m3</div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-xs-4">Net Weight</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control decimal" id="NetItemCipl" name="NetItemCipl" value="0" />
                  <div class="input-group-addon"
                    style="width: 50px; background: #00c0ef; border-color: #00acd6; color: white">KGs</div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-4 col-xs-4">Gross Weight</label>
                <div class="input-group col-lg-8 col-xs-8">
                  <input type="text" class="form-control decimal" id="GrossItemCipl" name="GrossItemCipl" value="0" />
                  <div class="input-group-addon"
                    style="width: 50px; background: #00c0ef; border-color: #00acd6; color: white">KGs</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-round btnAddReference" data-dismiss="modal"
            id="btnAddReference" style="min-width: 120px">
            <i class="fa fa-pencil"></i> Add
          </button>
          <button type="button" class="btn btn-primary btn-round btnAddMisc" data-dismiss="modal" id="btnAddMisc"
            style="min-width: 120px">
            <i class="fa fa-pencil"></i> Add
          </button>
          <button type="button" class="btn btn-primary btn-round btnUpdateReference" data-dismiss="modal"
            id="btnUpdateReference" style="min-width: 120px">
            <i class="fa fa-pencil"></i> Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="myModalRequestForChangeReason" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" style="width: 800px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title-document">Request for change reason</h4>
      </div>
      <form id="FormDocument">
        <div class="modal-body">
          <div class="row" id="formeditreference">
            <div class="col-lg-12">
              <div class="form-group">
                <div class="input-group col-md-12 col-xs-12">
                  <textarea class="form-control" id="ReasonForChange" name="ReasonForChange" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btnAddDocument" data-dismiss="modal" id="RequestChange"
            style="min-width: 120px">
            <i class="fa fa-pencil"></i> Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/Scripts/loadingoverlay.min.js"></script>
<script>
  var tabs = $(".tabs");
  var selector = $(".tabs").find("a").length;
  //var selector = $(".tabs").find(".selector");
  var activeItem = tabs.find(".active");
  var activeWidth = activeItem.innerWidth();
  $(".selector").css({
    left: activeItem.position.left + "px",
    width: activeWidth + "px",
  });

  $(".tabs").on("click", "a", function (e) {
    e.preventDefault();
    $(".tabs a").removeClass("active");
    $(this).addClass("active");
    var activeWidth = $(this).innerWidth();
    var itemPos = $(this).position();
    $(".selector").css({
      left: itemPos.left + "px",
      width: activeWidth + "px",
    });
  });
</script>