
@{
<<<<<<< HEAD
    Layout = "~/Views/EMCS/_Layout.cshtml";
    ViewBag.Title = "Destination Country List & Sailing Time";
}
<style>
    .tableFixHead thead {
        position: sticky;
        top: 0;
    }
</style>
=======
    ViewBag.Title = "Destination Country List & Sailing Time";
}

>>>>>>> 639d8d0 (Intial commit)

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pull-right">
                                <div class="form-group">
                                    <label class="col-md-3">Destination</label>
<<<<<<< HEAD
                                    <div class="col-md-12">
                                        <div class="">
=======
                                    <div class="col-md-9">
                                        <div class="row">
>>>>>>> 639d8d0 (Intial commit)
                                            <div>
                                                <select class="select2" id="destination" name="destination" style="width:100% !important;" required></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4 pull-right">
                                <div class="form-group">
                                    <label class="col-md-3" style="text-align: left;">Origin</label>
<<<<<<< HEAD
                                    <div class="col-md-12">
                                        <div class="">
=======
                                    <div class="col-md-9">
                                        <div class="row">
>>>>>>> 639d8d0 (Intial commit)
                                            <div>
                                                <select class="select2" id="origin" name="origin" style="width:100% !important;" required></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pull-right">
                                <div class="form-group text-right">
<<<<<<< HEAD
                                    <button class="btn btn-warning animation-on-hover btn-round" onclick="searchDataReport()" style="background:#fe9d01;"><i class="fa fa-search"></i> Show Report</button>
                                    <button class="btn btn-success animation-on-hover btn-round" onclick="exportDataReport()" style=""><i class="fa fa-file"></i> Export To Excel</button>
=======
                                    <button class="btn btn-warning" onclick="searchDataReport()" style="background:#fe9d01;color:black;"><i class="fa fa-search"></i> Show Report</button>
                                    <button class="btn btn-warning" onclick="exportDataReport()" style="background:#fe9d01;color:black;"><i class="fa fa-file"></i> Export To Excel</button>
>>>>>>> 639d8d0 (Intial commit)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<<<<<<< HEAD
                <table class="table table-bordered table-striped tableFixHead" id="tbl-destination-sailing"></table>
=======
                <table class="table table-bordered table-striped" id="tbl-destination-sailing"></table>
>>>>>>> 639d8d0 (Intial commit)
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="@Url.Content("~/Scripts.app/EMCS/report/DestinationSailingTime.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
}