@{
    Layout = "~/Views/EMCS/_Layout.cshtml";
    ViewBag.Title = "DetailsTracking";
}
<style>
    .select2-container {
        width: 100% !important;
    }
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 7bf5852 (first commit)

    .tableFixHead thead {
        position: sticky;
        top: 0;
<<<<<<< HEAD
        /*background-color: #fff !important;*/
        z-index: 9999;
    }
    .input-group-addon {
        width: 50px;
        background: #00C0EF;
        border-color: #00ACD6;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 0px 0.4285rem 0.4285rem 0px;
    }

=======
>>>>>>> 639d8d0 (Intial commit)
=======
    }

>>>>>>> 7bf5852 (first commit)
</style>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
<<<<<<< HEAD
                <div class="">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="">
                                <div class="form-group">
                                    <label class="col-md-12">Category</label>
                                    <div class="col-md-12" style="">
=======
                <div class="form-horizontal toolbar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pull-right">
                                <div class="form-group">
                                    <label class="col-md-3">Category</label>
                                    <div class="col-md-9" style="padding:0px">
>>>>>>> 639d8d0 (Intial commit)
                                        <select class="form-control" id="category"></select>
                                        <div class="categoryunit mt-4">
                                            <select class="mt-4" id="unitCipl" name="unitCipl" required></select>
                                        </div>
                                        <div class="categoryspareparts mt-4">
                                            <select class="mt-4" id="sparepartsCipl" name="sparepartsCipl" required></select>
                                        </div>
                                        <div class="categorymisc mt-4">
                                            <input type="text" class="form-control" id="permanentCipl" name="permanentCipl" placeholder="Keterangan" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<<<<<<< HEAD
                        <div class="col-md-3">
                            <div class="">
                                <div class="form-group">
                                    <label class="col-md-12">Key</label>
                                    <div class="col-md-12" style="">
                                        <div class="keynum">
=======
                        <div class="col-md-12">
                            <div class="col-md-4 pull-right">
                                <div class="form-group">
                                    <label class="col-md-3">Key</label>
                                    <div class="col-md-9" style="padding:0px">
                                        <div class="keynum mt-4">
>>>>>>> 639d8d0 (Intial commit)
                                            <input type="text" class="form-control" id="keynum" name="keynum" placeholder="Reference No/CIpl No/RG No/CL No/SS No/SI No/NOPEN" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<<<<<<< HEAD
                        <div class="col-md-3">
                            <div class="">
                                <div class="form-group">
                                    <label class="col-md-12">Start Period</label>
                                    <div class="col-md-12">
                                        <div class="">
                                            <div class="input-group">
                                                <input id="inp-start-date" type="text" class="form-control" name="email" placeholder="Start Period">
                                                <span class="input-group-addon cal-start-date"><i class="fa fa-calendar"></i></span>
=======
                        <div class="col-md-12">
                            <div class="col-md-4 pull-right">
                                <div class="form-group">
                                    <label class="col-md-3">Start Period</label>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="input-group">
                                                <input id="inp-start-date" type="text" class="form-control" name="email" placeholder="Start Period">
                                                <span class="input-group-addon cal-start-date"><i class="glyphicon glyphicon-calendar"></i></span>
>>>>>>> 639d8d0 (Intial commit)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<<<<<<< HEAD
                        <div class="col-md-3">
                            <div class="">
                                <div class="form-group">
                                    <label class="col-md-12" style="text-align: left;">End Period</label>
                                    <div class="col-md-12">
                                        <div class="">
                                            <div class="input-group">
                                                <input id="inp-end-date" type="text" class="form-control" name="email" placeholder="End Period">
                                                <span class="input-group-addon cal-end-date"><i class="fa fa-calendar"></i></span>
=======
                        <div class="col-md-12">
                            <div class="col-md-4 pull-right">
                                <div class="form-group">
                                    <label class="col-md-3" style="text-align: left;">End Period</label>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="input-group">
                                                <input id="inp-end-date" type="text" class="form-control" name="email" placeholder="End Period">
                                                <span class="input-group-addon cal-end-date"><i class="glyphicon glyphicon-calendar"></i></span>
>>>>>>> 639d8d0 (Intial commit)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
<<<<<<< HEAD
                            <div class="col-md-4 pull-left">
                                <div class="form-group">
                                    <button class="btn btn-warning animation-on-hover btn-round" onclick="searchDataReport()" style="background:#fe9d01;"><i class="fa fa-search"></i> Show Report</button>
                                    <button class="btn btn-success animation-on-hover btn-round" onclick="exportDataReport()" style=""><i class="fa fa-file"></i> Export To Excel</button>
=======
                            <div class="col-md-4 pull-right">
                                <div class="form-group text-right">
                                    <button class="btn btn-warning" onclick="searchDataReport()" style="background:#fe9d01;color:black;"><i class="fa fa-search"></i> Show Report</button>
                                    <button class="btn btn-warningt" onclick="exportDataReport()" style="background:#fe9d01;color:black;"><i class="fa fa-file"></i> Export To Excel</button>
>>>>>>> 639d8d0 (Intial commit)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<<<<<<< HEAD
                
            </div>
        </div>
    </div>
</div>
<div class="row pt-4">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <table class="table table-bordered table-striped tableFixHead" data-toolbar=".toolbar" id="tbl-detailstracking"></table>
=======
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped tableFixHead" data-toolbar=".toolbar" id="tbl-detailstracking"></table>
                    </div>
                </div>
>>>>>>> 639d8d0 (Intial commit)
            </div>
        </div>
    </div>
</div>

<<<<<<< HEAD
        @section Scripts{
            <script src="@Url.Content("~/Scripts.app/EMCS/report/DetailsTracking.cshtml.js")"></script>
            <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
        }
=======

@section Scripts{
    <script src="@Url.Content("~/Scripts.app/EMCS/report/DetailsTracking.cshtml.js")"></script>
    <script src="@Url.Content("~/Scripts.app/EMCS/Custom.js")"></script>
}
>>>>>>> 639d8d0 (Intial commit)
