<<<<<<< HEAD
<<<<<<< HEAD
﻿<div class="card">
  <div class="table-responsive">
    <table class="table" data-toolbar=".toolbarCipl" id="tbl-task-cipl"></table>
  </div>
</div>
@Html.Partial("~/Views/EMCS/MytaskCiplModal.cshtml")
=======
﻿<table class="table" data-toolbar=".toolbarCipl" id="tbl-task-cipl"></table>

@Html.Partial("~/Views/EMCS/MytaskCiplModal.cshtml")
>>>>>>> 639d8d0 (Intial commit)
=======
﻿<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" data-toolbar=".toolbarCipl" id="tbl-task-cipl"></table>
        </div>
    </div>
</div>
@Html.Partial("~/Views/EMCS/MytaskCiplModal.cshtml")
>>>>>>> 0aa0fef (new template)
