<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" data-toolbar=".toolbarCl" id="tbl-task-cargo"></table>
        </div>
    </div>
</div>