<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" data-toolbar=".toolbarCipl" id="tbl-task-cipl"></table>
        </div>
    </div>
</div>
@Html.Partial("~/Views/EMCS/MytaskCiplModal.cshtml")
