.card-summary {
  .icon-container {
    @apply overflow-hidden;
    /* .fa-solid {
      text-shadow: #64748b 1px 1px, #64748b 2px 2px, #64748b 3px 3px, #64748b 4px 4px,
        #64748b 5px 5px, #64748b 6px 6px, #64748b 7px 7px, #64748b 8px 8px,
        #64748b 9px 9px, #64748b 10px 10px, #64748b 11px 11px, #64748b 12px 12px,
        #64748b 13px 13px, #64748b 14px 14px, #64748b 15px 15px, #64748b 16px 16px,
        #64748b 17px 17px, #64748b 18px 18px, #64748b 19px 19px, #64748b 20px 20px,
        #64748b 21px 21px, #64748b 22px 22px, #64748b 23px 23px, #64748b 24px 24px,
        #64748b 25px 25px, #64748b 26px 26px, #64748b 27px 27px, #64748b 28px 28px,
        #64748b 29px 29px, #64748b 30px 30px, #64748b 31px 31px, #64748b 32px 32px,
        #64748b 33px 33px, #64748b 34px 34px, #64748b 35px 35px, #64748b 36px 36px,
        #64748b 37px 37px, #64748b 38px 38px, #64748b 39px 39px, #64748b 40px 40px,
        #64748b 41px 41px, #64748b 42px 42px, #64748b 43px 43px, #64748b 44px 44px,
        #64748b 45px 45px, #64748b 46px 46px, #64748b 47px 47px, #64748b 48px 48px,
        #64748b 49px 49px, #64748b 50px 50px, #64748b 51px 51px, #64748b 52px 52px,
        #64748b 53px 53px, #64748b 54px 54px, #64748b 55px 55px, #64748b 56px 56px,
        #64748b 57px 57px, #64748b 58px 58px, #64748b 59px 59px, #64748b 60px 60px,
        #64748b 61px 61px, #64748b 62px 62px, #64748b 63px 63px, #64748b 64px 64px,
        #64748b 65px 65px, #64748b 66px 66px, #64748b 67px 67px, #64748b 68px 68px,
        #64748b 69px 69px, #64748b 70px 70px, #64748b 71px 71px, #64748b 72px 72px,
        #64748b 73px 73px, #64748b 74px 74px, #64748b 75px 75px, #64748b 76px 76px,
        #64748b 77px 77px, #64748b 78px 78px, #64748b 79px 79px, #64748b 80px 80px,
        #64748b 81px 81px, #64748b 82px 82px, #64748b 83px 83px, #64748b 84px 84px,
        #64748b 85px 85px, #64748b 86px 86px, #64748b 87px 87px, #64748b 88px 88px,
        #64748b 89px 89px, #64748b 90px 90px, #64748b 91px 91px, #64748b 92px 92px,
        #64748b 93px 93px, #64748b 94px 94px, #64748b 95px 95px, #64748b 96px 96px,
        #64748b 97px 97px, #64748b 98px 98px, #64748b 99px 99px, #64748b 100px 100px;
    } */
    /* .uil {
      &::before {
        text-shadow: #64748b 1px 1px, #64748b 2px 2px, #64748b 3px 3px, #64748b 4px 4px,
          #64748b 5px 5px, #64748b 6px 6px, #64748b 7px 7px, #64748b 8px 8px,
          #64748b 9px 9px, #64748b 10px 10px, #64748b 11px 11px, #64748b 12px 12px,
          #64748b 13px 13px, #64748b 14px 14px, #64748b 15px 15px, #64748b 16px 16px,
          #64748b 17px 17px, #64748b 18px 18px, #64748b 19px 19px, #64748b 20px 20px,
          #64748b 21px 21px, #64748b 22px 22px, #64748b 23px 23px, #64748b 24px 24px,
          #64748b 25px 25px, #64748b 26px 26px, #64748b 27px 27px, #64748b 28px 28px,
          #64748b 29px 29px, #64748b 30px 30px, #64748b 31px 31px, #64748b 32px 32px,
          #64748b 33px 33px, #64748b 34px 34px, #64748b 35px 35px, #64748b 36px 36px,
          #64748b 37px 37px, #64748b 38px 38px, #64748b 39px 39px, #64748b 40px 40px,
          #64748b 41px 41px, #64748b 42px 42px, #64748b 43px 43px, #64748b 44px 44px,
          #64748b 45px 45px, #64748b 46px 46px, #64748b 47px 47px, #64748b 48px 48px,
          #64748b 49px 49px, #64748b 50px 50px, #64748b 51px 51px, #64748b 52px 52px,
          #64748b 53px 53px, #64748b 54px 54px, #64748b 55px 55px, #64748b 56px 56px,
          #64748b 57px 57px, #64748b 58px 58px, #64748b 59px 59px, #64748b 60px 60px,
          #64748b 61px 61px, #64748b 62px 62px, #64748b 63px 63px, #64748b 64px 64px,
          #64748b 65px 65px, #64748b 66px 66px, #64748b 67px 67px, #64748b 68px 68px,
          #64748b 69px 69px, #64748b 70px 70px, #64748b 71px 71px, #64748b 72px 72px,
          #64748b 73px 73px, #64748b 74px 74px, #64748b 75px 75px, #64748b 76px 76px,
          #64748b 77px 77px, #64748b 78px 78px, #64748b 79px 79px, #64748b 80px 80px,
          #64748b 81px 81px, #64748b 82px 82px, #64748b 83px 83px, #64748b 84px 84px,
          #64748b 85px 85px, #64748b 86px 86px, #64748b 87px 87px, #64748b 88px 88px,
          #64748b 89px 89px, #64748b 90px 90px, #64748b 91px 91px, #64748b 92px 92px,
          #64748b 93px 93px, #64748b 94px 94px, #64748b 95px 95px, #64748b 96px 96px,
          #64748b 97px 97px, #64748b 98px 98px, #64748b 99px 99px, #64748b 100px 100px;
      }
    } */

    &.icon-orange {
      @apply bg-black bg-gradient-to-tr from-orange-300 to-amber-300;
    }
    /* SHADOW ICON */
    &.icon-blue {
      background-color: #05beff;
      overflow: hidden;
      /* text-shadow: rgb(92, 172, 200) 1px 1px, rgb(92, 172, 200) 1px 2px, rgb(92, 172, 200) 1px 4px, rgb(92, 172, 200) 1px 6px,
        rgb(92, 172, 200) 1px 8px, rgb(92, 172, 200) 1px 9px, rgb(92, 172, 200) 1px 10px, rgb(92, 172, 200) 1px 11px,
        rgb(92, 172, 200) 1px 12px, rgb(92, 172, 200) 1px 13px, rgb(92, 172, 200) 1px 14px, rgb(92, 172, 200) 1px 15px,
        rgb(92, 172, 200) 1px 16px, rgb(92, 172, 200) 1px 17px, rgb(92, 172, 200) 1px 18px, rgb(92, 172, 200) 1px 19px,
        rgb(92, 172, 200) 1px 20px, rgb(92, 172, 200) 1px 21px, rgb(92, 172, 200) 1px 22px, rgb(92, 172, 200) 1px 23px,
        rgb(92, 172, 200) 1px 24px, rgb(92, 172, 200) 1px 25px, rgb(92, 172, 200) 1px 26px, rgb(92, 172, 200) 1px 27px; */
      text-shadow: rgb(92, 172, 200) 1px 1px, rgb(92, 172, 200) 2px 2px, rgb(92, 172, 200) 3px 3px, rgb(92, 172, 200) 4px 4px,
        rgb(92, 172, 200) 5px 5px, rgb(92, 172, 200) 6px 6px, rgb(92, 172, 200) 7px 7px, rgb(92, 172, 200) 8px 8px,
        rgb(92, 172, 200) 9px 9px, rgb(92, 172, 200) 10px 10px, rgb(92, 172, 200) 11px 11px, rgb(92, 172, 200) 12px 12px,
        rgb(92, 172, 200) 13px 13px, rgb(92, 172, 200) 14px 14px, rgb(92, 172, 200) 15px 15px, rgb(92, 172, 200) 16px 16px,
        rgb(92, 172, 200) 17px 17px, rgb(92, 172, 200) 18px 18px, rgb(92, 172, 200) 19px 19px, rgb(92, 172, 200) 20px 20px,
        rgb(92, 172, 200) 21px 21px, rgb(92, 172, 200) 22px 22px, rgb(92, 172, 200) 23px 23px, rgb(92, 172, 200) 24px 24px,
        rgb(92, 172, 200) 25px 25px, rgb(92, 172, 200) 26px 26px, rgb(92, 172, 200) 27px 27px, rgb(92, 172, 200) 28px 28px,
        rgb(92, 172, 200) 29px 29px, rgb(92, 172, 200) 30px 30px, rgb(92, 172, 200) 31px 31px, rgb(92, 172, 200) 32px 32px,
        rgb(92, 172, 200) 33px 33px, rgb(92, 172, 200) 34px 34px, rgb(92, 172, 200) 35px 35px, rgb(92, 172, 200) 36px 36px,
        rgb(92, 172, 200) 37px 37px, rgb(92, 172, 200) 38px 38px, rgb(92, 172, 200) 39px 39px, rgb(92, 172, 200) 40px 40px,
        rgb(92, 172, 200) 41px 41px, rgb(92, 172, 200) 42px 42px, rgb(92, 172, 200) 43px 43px, rgb(92, 172, 200) 44px 44px,
        rgb(92, 172, 200) 45px 45px, rgb(92, 172, 200) 46px 46px, rgb(92, 172, 200) 47px 47px, rgb(92, 172, 200) 48px 48px,
        rgb(92, 172, 200) 49px 49px, rgb(92, 172, 200) 50px 50px, rgb(92, 172, 200) 51px 51px, rgb(92, 172, 200) 52px 52px,
        rgb(92, 172, 200) 53px 53px, rgb(92, 172, 200) 54px 54px, rgb(92, 172, 200) 55px 55px, rgb(92, 172, 200) 56px 56px,
        rgb(92, 172, 200) 57px 57px, rgb(92, 172, 200) 58px 58px, rgb(92, 172, 200) 59px 59px, rgb(92, 172, 200) 60px 60px,
        rgb(92, 172, 200) 61px 61px, rgb(92, 172, 200) 62px 62px, rgb(92, 172, 200) 63px 63px, rgb(92, 172, 200) 64px 64px,
        rgb(92, 172, 200) 65px 65px, rgb(92, 172, 200) 66px 66px, rgb(92, 172, 200) 67px 67px, rgb(92, 172, 200) 68px 68px,
        rgb(92, 172, 200) 69px 69px, rgb(92, 172, 200) 70px 70px, rgb(92, 172, 200) 71px 71px, rgb(92, 172, 200) 72px 72px,
        rgb(92, 172, 200) 73px 73px, rgb(92, 172, 200) 74px 74px, rgb(92, 172, 200) 75px 75px, rgb(92, 172, 200) 76px 76px,
        rgb(92, 172, 200) 77px 77px, rgb(92, 172, 200) 78px 78px, rgb(92, 172, 200) 79px 79px, rgb(92, 172, 200) 80px 80px,
        rgb(92, 172, 200) 81px 81px, rgb(92, 172, 200) 82px 82px, rgb(92, 172, 200) 83px 83px, rgb(92, 172, 200) 84px 84px,
        rgb(92, 172, 200) 85px 85px, rgb(92, 172, 200) 86px 86px, rgb(92, 172, 200) 87px 87px, rgb(92, 172, 200) 88px 88px,
        rgb(92, 172, 200) 89px 89px, rgb(92, 172, 200) 90px 90px, rgb(92, 172, 200) 91px 91px, rgb(92, 172, 200) 92px 92px,
        rgb(92, 172, 200) 93px 93px, rgb(92, 172, 200) 94px 94px, rgb(92, 172, 200) 95px 95px, rgb(92, 172, 200) 96px 96px,
        rgb(92, 172, 200) 97px 97px, rgb(92, 172, 200) 98px 98px, rgb(92, 172, 200) 99px 99px, rgb(92, 172, 200) 100px 100px;
    }

    &.icon-green {
      background-color: #9dd45d;
      overflow: hidden;
      text-shadow: rgb(134, 180, 81) 1px 1px, rgb(134, 180, 81) 2px 2px, rgb(134, 180, 81) 3px 3px, rgb(134, 180, 81) 4px 4px,
        rgb(134, 180, 81) 5px 5px, rgb(134, 180, 81) 6px 6px, rgb(134, 180, 81) 7px 7px, rgb(134, 180, 81) 8px 8px,
        rgb(134, 180, 81) 9px 9px, rgb(134, 180, 81) 10px 10px, rgb(134, 180, 81) 11px 11px, rgb(134, 180, 81) 12px 12px,
        rgb(134, 180, 81) 13px 13px, rgb(134, 180, 81) 14px 14px, rgb(134, 180, 81) 15px 15px, rgb(134, 180, 81) 16px 16px,
        rgb(134, 180, 81) 17px 17px, rgb(134, 180, 81) 18px 18px, rgb(134, 180, 81) 19px 19px, rgb(134, 180, 81) 20px 20px,
        rgb(134, 180, 81) 21px 21px, rgb(134, 180, 81) 22px 22px, rgb(134, 180, 81) 23px 23px, rgb(134, 180, 81) 24px 24px,
        rgb(134, 180, 81) 25px 25px, rgb(134, 180, 81) 26px 26px, rgb(134, 180, 81) 27px 27px, rgb(134, 180, 81) 28px 28px,
        rgb(134, 180, 81) 29px 29px, rgb(134, 180, 81) 30px 30px, rgb(134, 180, 81) 31px 31px, rgb(134, 180, 81) 32px 32px,
        rgb(134, 180, 81) 33px 33px, rgb(134, 180, 81) 34px 34px, rgb(134, 180, 81) 35px 35px, rgb(134, 180, 81) 36px 36px,
        rgb(134, 180, 81) 37px 37px, rgb(134, 180, 81) 38px 38px, rgb(134, 180, 81) 39px 39px, rgb(134, 180, 81) 40px 40px,
        rgb(134, 180, 81) 41px 41px, rgb(134, 180, 81) 42px 42px, rgb(134, 180, 81) 43px 43px, rgb(134, 180, 81) 44px 44px,
        rgb(134, 180, 81) 45px 45px, rgb(134, 180, 81) 46px 46px, rgb(134, 180, 81) 47px 47px, rgb(134, 180, 81) 48px 48px,
        rgb(134, 180, 81) 49px 49px, rgb(134, 180, 81) 50px 50px, rgb(134, 180, 81) 51px 51px, rgb(134, 180, 81) 52px 52px,
        rgb(134, 180, 81) 53px 53px, rgb(134, 180, 81) 54px 54px, rgb(134, 180, 81) 55px 55px, rgb(134, 180, 81) 56px 56px,
        rgb(134, 180, 81) 57px 57px, rgb(134, 180, 81) 58px 58px, rgb(134, 180, 81) 59px 59px, rgb(134, 180, 81) 60px 60px,
        rgb(134, 180, 81) 61px 61px, rgb(134, 180, 81) 62px 62px, rgb(134, 180, 81) 63px 63px, rgb(134, 180, 81) 64px 64px,
        rgb(134, 180, 81) 65px 65px, rgb(134, 180, 81) 66px 66px, rgb(134, 180, 81) 67px 67px, rgb(134, 180, 81) 68px 68px,
        rgb(134, 180, 81) 69px 69px, rgb(134, 180, 81) 70px 70px, rgb(134, 180, 81) 71px 71px, rgb(134, 180, 81) 72px 72px,
        rgb(134, 180, 81) 73px 73px, rgb(134, 180, 81) 74px 74px, rgb(134, 180, 81) 75px 75px, rgb(134, 180, 81) 76px 76px,
        rgb(134, 180, 81) 77px 77px, rgb(134, 180, 81) 78px 78px, rgb(134, 180, 81) 79px 79px, rgb(134, 180, 81) 80px 80px,
        rgb(134, 180, 81) 81px 81px, rgb(134, 180, 81) 82px 82px, rgb(134, 180, 81) 83px 83px, rgb(134, 180, 81) 84px 84px,
        rgb(134, 180, 81) 85px 85px, rgb(134, 180, 81) 86px 86px, rgb(134, 180, 81) 87px 87px, rgb(134, 180, 81) 88px 88px,
        rgb(134, 180, 81) 89px 89px, rgb(134, 180, 81) 90px 90px, rgb(134, 180, 81) 91px 91px, rgb(134, 180, 81) 92px 92px,
        rgb(134, 180, 81) 93px 93px, rgb(134, 180, 81) 94px 94px, rgb(134, 180, 81) 95px 95px, rgb(134, 180, 81) 96px 96px,
        rgb(134, 180, 81) 97px 97px, rgb(134, 180, 81) 98px 98px, rgb(134, 180, 81) 99px 99px, rgb(134, 180, 81) 100px 100px;
    }
    &.icon-yellow {
      background-color: #ffca22;
      overflow: hidden;
      text-shadow: rgb(213, 180, 78) 1px 1px, rgb(213, 180, 78) 2px 2px, rgb(213, 180, 78) 3px 3px, rgb(213, 180, 78) 4px 4px,
        rgb(213, 180, 78) 5px 5px, rgb(213, 180, 78) 6px 6px, rgb(213, 180, 78) 7px 7px, rgb(213, 180, 78) 8px 8px,
        rgb(213, 180, 78) 9px 9px, rgb(213, 180, 78) 10px 10px, rgb(213, 180, 78) 11px 11px, rgb(213, 180, 78) 12px 12px,
        rgb(213, 180, 78) 13px 13px, rgb(213, 180, 78) 14px 14px, rgb(213, 180, 78) 15px 15px, rgb(213, 180, 78) 16px 16px,
        rgb(213, 180, 78) 17px 17px, rgb(213, 180, 78) 18px 18px, rgb(213, 180, 78) 19px 19px, rgb(213, 180, 78) 20px 20px,
        rgb(213, 180, 78) 21px 21px, rgb(213, 180, 78) 22px 22px, rgb(213, 180, 78) 23px 23px, rgb(213, 180, 78) 24px 24px,
        rgb(213, 180, 78) 25px 25px, rgb(213, 180, 78) 26px 26px, rgb(213, 180, 78) 27px 27px, rgb(213, 180, 78) 28px 28px,
        rgb(213, 180, 78) 29px 29px, rgb(213, 180, 78) 30px 30px, rgb(213, 180, 78) 31px 31px, rgb(213, 180, 78) 32px 32px,
        rgb(213, 180, 78) 33px 33px, rgb(213, 180, 78) 34px 34px, rgb(213, 180, 78) 35px 35px, rgb(213, 180, 78) 36px 36px,
        rgb(213, 180, 78) 37px 37px, rgb(213, 180, 78) 38px 38px, rgb(213, 180, 78) 39px 39px, rgb(213, 180, 78) 40px 40px,
        rgb(213, 180, 78) 41px 41px, rgb(213, 180, 78) 42px 42px, rgb(213, 180, 78) 43px 43px, rgb(213, 180, 78) 44px 44px,
        rgb(213, 180, 78) 45px 45px, rgb(213, 180, 78) 46px 46px, rgb(213, 180, 78) 47px 47px, rgb(213, 180, 78) 48px 48px,
        rgb(213, 180, 78) 49px 49px, rgb(213, 180, 78) 50px 50px, rgb(213, 180, 78) 51px 51px, rgb(213, 180, 78) 52px 52px,
        rgb(213, 180, 78) 53px 53px, rgb(213, 180, 78) 54px 54px, rgb(213, 180, 78) 55px 55px, rgb(213, 180, 78) 56px 56px,
        rgb(213, 180, 78) 57px 57px, rgb(213, 180, 78) 58px 58px, rgb(213, 180, 78) 59px 59px, rgb(213, 180, 78) 60px 60px,
        rgb(213, 180, 78) 61px 61px, rgb(213, 180, 78) 62px 62px, rgb(213, 180, 78) 63px 63px, rgb(213, 180, 78) 64px 64px,
        rgb(213, 180, 78) 65px 65px, rgb(213, 180, 78) 66px 66px, rgb(213, 180, 78) 67px 67px, rgb(213, 180, 78) 68px 68px,
        rgb(213, 180, 78) 69px 69px, rgb(213, 180, 78) 70px 70px, rgb(213, 180, 78) 71px 71px, rgb(213, 180, 78) 72px 72px,
        rgb(213, 180, 78) 73px 73px, rgb(213, 180, 78) 74px 74px, rgb(213, 180, 78) 75px 75px, rgb(213, 180, 78) 76px 76px,
        rgb(213, 180, 78) 77px 77px, rgb(213, 180, 78) 78px 78px, rgb(213, 180, 78) 79px 79px, rgb(213, 180, 78) 80px 80px,
        rgb(213, 180, 78) 81px 81px, rgb(213, 180, 78) 82px 82px, rgb(213, 180, 78) 83px 83px, rgb(213, 180, 78) 84px 84px,
        rgb(213, 180, 78) 85px 85px, rgb(213, 180, 78) 86px 86px, rgb(213, 180, 78) 87px 87px, rgb(213, 180, 78) 88px 88px,
        rgb(213, 180, 78) 89px 89px, rgb(213, 180, 78) 90px 90px, rgb(213, 180, 78) 91px 91px, rgb(213, 180, 78) 92px 92px,
        rgb(213, 180, 78) 93px 93px, rgb(213, 180, 78) 94px 94px, rgb(213, 180, 78) 95px 95px, rgb(213, 180, 78) 96px 96px,
        rgb(213, 180, 78) 97px 97px, rgb(213, 180, 78) 98px 98px, rgb(213, 180, 78) 99px 99px, rgb(213, 180, 78) 100px 100px;
    }

    &.icon-red {
      background-color: #ff696a;
      overflow: hidden;
      text-shadow: rgb(213, 78, 78) 1px 1px, rgb(213, 78, 78) 2px 2px, rgb(213, 78, 78) 3px 3px, rgb(213, 78, 78) 4px 4px,
        rgb(213, 78, 78) 5px 5px, rgb(213, 78, 78) 6px 6px, rgb(213, 78, 78) 7px 7px, rgb(213, 78, 78) 8px 8px, rgb(213, 78, 78) 9px 9px,
        rgb(213, 78, 78) 10px 10px, rgb(213, 78, 78) 11px 11px, rgb(213, 78, 78) 12px 12px, rgb(213, 78, 78) 13px 13px,
        rgb(213, 78, 78) 14px 14px, rgb(213, 78, 78) 15px 15px, rgb(213, 78, 78) 16px 16px, rgb(213, 78, 78) 17px 17px,
        rgb(213, 78, 78) 18px 18px, rgb(213, 78, 78) 19px 19px, rgb(213, 78, 78) 20px 20px, rgb(213, 78, 78) 21px 21px,
        rgb(213, 78, 78) 22px 22px, rgb(213, 78, 78) 23px 23px, rgb(213, 78, 78) 24px 24px, rgb(213, 78, 78) 25px 25px,
        rgb(213, 78, 78) 26px 26px, rgb(213, 78, 78) 27px 27px, rgb(213, 78, 78) 28px 28px, rgb(213, 78, 78) 29px 29px,
        rgb(213, 78, 78) 30px 30px, rgb(213, 78, 78) 31px 31px, rgb(213, 78, 78) 32px 32px, rgb(213, 78, 78) 33px 33px,
        rgb(213, 78, 78) 34px 34px, rgb(213, 78, 78) 35px 35px, rgb(213, 78, 78) 36px 36px, rgb(213, 78, 78) 37px 37px,
        rgb(213, 78, 78) 38px 38px, rgb(213, 78, 78) 39px 39px, rgb(213, 78, 78) 40px 40px, rgb(213, 78, 78) 41px 41px,
        rgb(213, 78, 78) 42px 42px, rgb(213, 78, 78) 43px 43px, rgb(213, 78, 78) 44px 44px, rgb(213, 78, 78) 45px 45px,
        rgb(213, 78, 78) 46px 46px, rgb(213, 78, 78) 47px 47px, rgb(213, 78, 78) 48px 48px, rgb(213, 78, 78) 49px 49px,
        rgb(213, 78, 78) 50px 50px, rgb(213, 78, 78) 51px 51px, rgb(213, 78, 78) 52px 52px, rgb(213, 78, 78) 53px 53px,
        rgb(213, 78, 78) 54px 54px, rgb(213, 78, 78) 55px 55px, rgb(213, 78, 78) 56px 56px, rgb(213, 78, 78) 57px 57px,
        rgb(213, 78, 78) 58px 58px, rgb(213, 78, 78) 59px 59px, rgb(213, 78, 78) 60px 60px, rgb(213, 78, 78) 61px 61px,
        rgb(213, 78, 78) 62px 62px, rgb(213, 78, 78) 63px 63px, rgb(213, 78, 78) 64px 64px, rgb(213, 78, 78) 65px 65px,
        rgb(213, 78, 78) 66px 66px, rgb(213, 78, 78) 67px 67px, rgb(213, 78, 78) 68px 68px, rgb(213, 78, 78) 69px 69px,
        rgb(213, 78, 78) 70px 70px, rgb(213, 78, 78) 71px 71px, rgb(213, 78, 78) 72px 72px, rgb(213, 78, 78) 73px 73px,
        rgb(213, 78, 78) 74px 74px, rgb(213, 78, 78) 75px 75px, rgb(213, 78, 78) 76px 76px, rgb(213, 78, 78) 77px 77px,
        rgb(213, 78, 78) 78px 78px, rgb(213, 78, 78) 79px 79px, rgb(213, 78, 78) 80px 80px, rgb(213, 78, 78) 81px 81px,
        rgb(213, 78, 78) 82px 82px, rgb(213, 78, 78) 83px 83px, rgb(213, 78, 78) 84px 84px, rgb(213, 78, 78) 85px 85px,
        rgb(213, 78, 78) 86px 86px, rgb(213, 78, 78) 87px 87px, rgb(213, 78, 78) 88px 88px, rgb(213, 78, 78) 89px 89px,
        rgb(213, 78, 78) 90px 90px, rgb(213, 78, 78) 91px 91px, rgb(213, 78, 78) 92px 92px, rgb(213, 78, 78) 93px 93px,
        rgb(213, 78, 78) 94px 94px, rgb(213, 78, 78) 95px 95px, rgb(213, 78, 78) 96px 96px, rgb(213, 78, 78) 97px 97px,
        rgb(213, 78, 78) 98px 98px, rgb(213, 78, 78) 99px 99px, rgb(213, 78, 78) 100px 100px;
    }
  }
}

.dropdown-caret-none {
  &:after {
    @apply hidden;
  }
}
.summary-dropdown-hover {
  @apply relative;
  > .summary-hover-ul {
    @apply absolute left-auto top-0 w-full z-20 text-sm bg-slate-50 rounded-lg border border-slate-300 shadow-lg transition-all duration-300 ease-out opacity-0 invisible scale-95 dark:bg-gray-700 dark:border-gray-600;
    > li {
      @apply py-2 px-4 border-b border-solid border-slate-300 dark:border-gray-600 text-brand-black dark:text-white;
      &:last-child {
        @apply border-b-0;
      }
    }
  }
  &:hover {
    @apply cursor-pointer;
    > .summary-hover-ul {
      @apply opacity-100 visible scale-100;
    }
  }
}
.summary-content {
  @apply overflow-hidden relative h-[30px];
}
.summary-number-item {
  @apply absolute top-0 left-0 flex items-baseline gap-x-2 transition-all duration-500;
  .summary-number-amount {
    @apply text-base font-bold;
  }
  .summary-number-label {
    @apply text-sm tracking-tight;
  }
  &:not(:first-child) {
    @apply translate-y-full opacity-0;
  }
  &.active {
    @apply translate-y-0 opacity-100;
  }
  &.remove {
    @apply -translate-y-full opacity-0;
  }
}

#cat-parts,
#cat-machine,
#cat-engine,
#cat-forklift {
  .circle-container {
    @apply translate-x-[10%] translate-y-[10%];
  }
  .circle-text {
    @apply translate-y-[6px] fill-brand-black dark:fill-white;
  }
}
#circle-cat-parts,
#circle-cat-machine,
#circle-cat-engine,
#circle-cat-forklift {
  @apply stroke-gray-300;
}
#arc-cat-parts {
  @apply stroke-amber-400;
}
#arc-cat-machine {
  @apply stroke-green-400;
}
#arc-cat-engine {
  @apply stroke-blue-400;
}
#arc-cat-forklift {
  @apply stroke-red-400;
}

#cycle-steps {
  .step-bar-bg {
    @apply w-full h-2 bg-slate-200 rounded-full;
  }
  .step-bar-progress {
    @apply w-0 h-2 rounded-full;
    &.color-1 {
      @apply bg-amber-400;
    }
    &.color-2 {
      @apply bg-green-400;
    }
    &.color-3 {
      @apply bg-indigo-400;
    }
    &.color-4 {
      @apply bg-red-400;
    }
  }
}

.breaking-news-ticker {
  @apply bg-white shadow-[inset_0_1px_0_0_#CBD5E1] fixed bottom-0 left-0 right-0 z-50 h-[3.25rem] py-4 transition-all;
  .jctkr-wrapper {
    @apply h-5;
  }
  #news-collapse {
    .uil {
      @apply transition-transform;
    }
  }
  &.news-collapsed {
    @apply -bottom-[52px];
    .uil {
      @apply rotate-180;
    }
  }
}
#ul-news {
  li {
    @apply inline-flex mx-5 items-center;
    .bn-logo {
      @apply w-5 inline-block mr-2;
      img {
        @apply block;
      }
    }
    .bn-text {
      @apply inline-block text-sm leading-tight whitespace-nowrap;
    }
  }
}

#btn-map-toggle {
  @apply bg-slate-200 p-1 rounded-full;
  .btn {
    @apply rounded-full px-6 py-[5px] bg-transparent;
    &.active {
      @apply bg-primary text-white;
    }
  }
}

#btn-map-switch,
#btn-map-outstanding-switch {
  @apply relative flex rounded-full bg-slate-200 h-9 dark:bg-gray-600;
  .switch--item {
    @apply relative flex-auto flex justify-center items-center gap-x-2 text-center text-slate-500 px-8 py-2 mb-0 z-[1] transition-all delay-150 duration-300;
    @apply text-slate-900 text-sm font-semibold cursor-pointer dark:text-white;
    &:not(.active) {
      &:hover {
        @apply text-slate-900;
      }
    }
    &.active {
      @apply text-white -mt-[4px];
    }
  }
  input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
  .selector {
    @apply absolute left-0 -top-0.5 h-full rounded-full transition-all duration-500 ease-in-out bg-primary;
    /* background: linear-gradient(20deg, #fe9d01 60%, #ffd38a 83%); */
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
  }
}

#container-map {
  .highcharts-container {
    @apply mt-24;
  }
}

#outstanding-carousel {
  .carousel-inner {
    > .carousel-item {
      @apply overflow-auto text-left text-[15px] font-bold text-brand-black hover:text-primary dark:text-white dark:hover:text-primary;
      &.carousel-item-next,
      &.active.carousel-item-right {
        transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        top: 0;
      }
      &.carousel-item-prev,
      &.active.carousel-item-left {
        transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        top: 0;
      }
      &.next.carousel-item-left,
      &.carousel-item-prev.carousel-item-right,
      &.active {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        top: 0;
      }
    }
  }
}

.map-popup {
  @apply fixed top-16 right-0 bottom-0 left-[55px] bg-white z-40 opacity-0 -translate-x-full transition-all duration-500 ease-out -ml-[55px];
  &.open {
    @apply z-40 translate-x-0 opacity-100 border-l border-solid border-[#CBD5E1] ml-0;
  }
  .map-popup-inner {
    @apply flex w-full h-full relative;
  }
  .map-popup-data {
    @apply w-2/3 h-full pt-8 px-8 pb-[84px];
  }
  .map-popup-data--card {
    @apply relative flex flex-col h-full border border-solid border-slate-300 rounded-lg overflow-hidden shadow-lg;
  }
  .map-popup-data--header {
    @apply w-full absolute top-0 left-0 right-0 p-4 flex justify-between bg-white z-10;
    box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
    h4 {
      @apply text-lg font-semibold mb-0;
    }
  }
  .map-popup-data--content {
    @apply relative overflow-auto h-full pt-[64px];
  }
  .map-popup-data--table {
    @apply mb-0 text-[15px] border-b border-solid border-slate-300;
    thead th {
      @apply text-white sticky text-sm top-0 z-10;
    }
  }
  .map-popup-image {
    @apply w-1/3 bg-[#f6f6f6] h-full;
    img {
      @apply w-full h-full object-cover rounded-none;
    }
  }
}

#container_biggest,
#container_export_by_category,
#container_compare_sales {
  .highcharts-background {
    @apply dark:!fill-gray-800;
  }
  .highcharts-legend-item {
    text {
      @apply dark:!text-white dark:!fill-white;
    }
  }
  .highcharts-grid-line {
    @apply dark:!stroke-white/70;
  }
}
/* .map-outstanding-popup {
  @apply fixed inset-0 -z-[100];
  @apply backdrop-blur-none opacity-0 bg-black/0;
  @apply transition-all duration-500 ease-out;
  &--inner {
    @apply h-full p-10;
  }
  &--card {
    @apply mx-auto max-w-screen-xl h-full !rounded-lg overflow-hidden backdrop-blur-sm bg-white/100 shadow-lg scale-0 transition-all duration-500 ease-out origin-bottom;
  }
  &--card-header {
    @apply w-full absolute top-0 left-0 right-0 !p-4 flex justify-between bg-white z-10;
    box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  }
  &--card-content {
    @apply relative overflow-auto h-full pt-[68px];
  }
  &--close {
    @apply w-8 h-8 flex justify-center items-center rounded-full bg-white text-brand-black leading-none text-3xl;
  }
  &--table {
    @apply mb-0;
    thead th {
      @apply text-white sticky top-0 z-10;
    }
  }
  &.open {
    @apply z-[70];
    @apply backdrop-blur-sm opacity-100 bg-black/50;
    .map-outstanding-popup--card {
      @apply scale-100;
    }
  }
} */

.map-outstanding-popup {
  @apply fixed inset-0 -z-[100];
  /* @apply backdrop-blur-none opacity-0 bg-black/0; */
  /* @apply bg-slate-900 bg-gradient-to-t from-black to-slate-800; */
  @apply bg-gradient-to-tr from-black via-black to-[#160E00];
  @apply backdrop-blur-none;
  @apply opacity-0 transition-all duration-500 ease-out;
  &--inner {
    @apply h-full py-20 px-10;
  }
  &--card {
    @apply mx-auto w-full overflow-hidden scale-0 transition-all duration-500 ease-out origin-bottom -translate-y-16;
  }
  &--card-header {
    /* @apply w-full !px-4 !pt-4 !pb-8 flex justify-between bg-transparent z-10; */
  }
  &--card-content {
    /* @apply relative overflow-hidden backdrop-blur-sm bg-black/50; */
    @apply relative overflow-hidden bg-slate-800/90;
    @apply rounded-xl;
    @apply bg-[#160E00]/90;
  }
  &--close {
    @apply w-12 h-12 flex justify-center items-center rounded-full bg-transparent text-white leading-none text-5xl;
  }
  &--table {
    @apply mb-0 border-0;
    thead th {
      @apply text-white sticky top-0 z-10 bg-black border-0 text-base font-bold;
    }
    tbody td {
      @apply text-sky-500 text-lg font-semibold;
    }
    td {
      @apply border-white/10 transition;
    }
    tbody tr:hover {
      td {
        @apply bg-black/50;
      }
    }
  }
  &.open {
    @apply z-[70];
    /* @apply backdrop-blur-sm opacity-100 bg-black/100; */
    @apply backdrop-blur-sm;
    @apply opacity-100;
    .map-outstanding-popup--card {
      @apply scale-100;
    }
  }
}

.dashboardhighcharts {
  @apply relative;
  @apply invisible opacity-0 hidden;
  &.active {
    @apply visible opacity-100 block;
  }
}
.dashboardVideoTrakindo,
.dashboardTv {
  @apply transition-all duration-300 bg-black absolute inset-0 z-0 scale-0 origin-bottom-left;
  iframe {
    @apply aspect-video w-full z-10;
  }
  &.active {
    @apply block z-20 scale-100;
  }
}
.toolmenu-wrapper {
  @apply fixed -bottom-1/2 -right-1/2 w-[240px] h-[240px] bg-transparent z-[55] transition-all duration-300 overflow-hidden rounded-full;
  li {
    /*
    position: absolute;
    font-size: 1.5em;
    width: 10em;
    height: 10em;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-top: -1.3em;
    margin-left: -10em;
    -webkit-transition: border 0.3s ease;
    -moz-transition: border 0.3s ease;
    transition: border 0.3s ease;
    */
    @apply z-[55] absolute right-0 bottom-0 origin-bottom-right overflow-hidden w-[10em] h-[10em];
    &:first-child {
      /*
      -webkit-transform: rotate(-10deg) skew(50deg);
      -ms-transform: rotate(-10deg) skew(50deg);
      -moz-transform: rotate(-10deg) skew(50deg);
      transform: rotate(-10deg) skew(50deg);
      */
      @apply rotate-[0deg] bg-yellow-100;
    }
    &:nth-child(2) {
      /*
      -webkit-transform: rotate(30deg) skew(50deg);
      -ms-transform: rotate(30deg) skew(50deg);
      -moz-transform: rotate(30deg) skew(50deg);
      transform: rotate(30deg) skew(50deg);
      */
      @apply rotate-[30deg] bg-yellow-50;
    }
    &:nth-child(3) {
      /*
      --webkit-transform: rotate(70deg) skew(50deg);
      -ms-transform: rotate(70deg) skew(50deg);
      -moz-transform: rotate(70deg) skew(50deg);
      transform: rotate(70deg) skew(50deg);
      */
      @apply rotate-[60deg] bg-yellow-100;
    }
    a {
    }
    /*
    a {
      display: block;
      font-size: 1.18em;
      height: 14.5em;
      width: 14.5em;
      position: absolute;
      bottom: -7.25em;
      right: -7.25em;
      border-radius: 50%;
      text-decoration: none;
      color: #fff;
      padding-top: 1.8em;
      text-align: center;
      -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
      -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
      -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
      transform: skew(-50deg) rotate(-70deg) scale(1);
      -webkit-backface-visibility: hidden;
      -webkit-transition: opacity 0.3s, color 0.3s;
      -moz-transition: opacity 0.3s, color 0.3s;
      transition: opacity 0.3s, color 0.3s;
    }
    */
  }
}

/* Full Screen */
/* Safari */
:-webkit-full-screen {
  .header-fixed,
  #sidebar-nav {
    @apply hidden;
  }
  #main-container {
    @apply pt-0;
  }
  .main-content {
    @apply !p-6;
  }
  #map-card {
    @apply h-[712px];
  }
  #shipment-card {
    @apply h-[518px];
    .graph-container {
      @apply w-[106px];
    }
  }
}

/* IE11 */
:-ms-fullscreen {
  .header-fixed,
  #sidebar-nav {
    @apply hidden;
  }
  #main-container {
    @apply pt-0;
  }
  .main-content {
    @apply !p-6;
  }
  #map-card {
    @apply h-[712px];
  }
  #shipment-card {
    @apply h-[518px];
    .graph-container {
      @apply w-[106px];
    }
  }
}

/* Standard syntax */
:fullscreen {
  .header-fixed,
  #sidebar-nav {
    @apply hidden;
  }
  #main-container {
    @apply pt-0;
  }
  .main-content {
    @apply !p-6;
  }
  #map-card {
    @apply h-[712px];
  }
  #shipment-card {
    @apply h-[518px];
    .graph-container {
      @apply w-[106px];
    }
  }
}

/*********************************/
/*news item style start **********/
/* eocjsNewsticker v0.7.0 */

.eocjs-newsticker {
  padding: 10px 0;
  background-color: #eee;
}

.eocjs-newsticker .eocjs-newsticker-container {
  position: relative;
  height: 20px;
  overflow: hidden;
}

.eocjs-newsticker .eocjs-newsticker-one,
.eocjs-newsticker .eocjs-newsticker-two {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
}

.eocjs-newsticker-loader {
  position: absolute;
  left: calc(50% - 10px);
  width: 16px;
  height: 16px;
  display: block;
  border: 2px solid #555555;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: eocjs-newsticker-spin 0.75s linear infinite;
}

@keyframes eocjs-newsticker-spin {
  to {
    transform: rotate(360deg);
  }
}

.bn-news {
  position: absolute;
  left: -14px !important;
  top: 0;
  bottom: 0;
  background: #f5f5f5d1;
  height: 100%;
  right: 0;
  overflow: hidden;
  border: 1px solid #8080803b;
  border-left: none;
  line-height: 59px !important;
}

.bn-news ul {
  display: block;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.bn-news ul li {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  position: absolute;
  width: 100%;
  background: #f1f1f1e3;
  display: none;
  color: #333;
}

.bn-news ul li a {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  padding: 0 10px;
  color: #333;
  position: relative;
  display: block;
  overflow: hidden;
}

.bn-news ul li a:hover {
  color: #069;
}

.bn-loader-text {
  padding: 0 10px;
}

.bn-seperator {
  display: inline-block;
  float: left;
  margin-right: 15px;
  width: 30px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.bn-seperator.bn-news-dot {
  margin-right: 0;
}

.bn-seperator.bn-news-dot:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #333;
  border-radius: 50%;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -4px;
}

.bn-prefix {
  color: #d65d7a;
  margin-right: 15px;
  padding-left: 10px;
}

.bn-positive {
  color: #0b8457;
  font-weight: bold;
}

.bn-negative {
  color: #dc2f2f;
  font-weight: bold;
}
/*news item style end ************/
